<div class="block">
    <div class="row">
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/index 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/r32 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/r3 3.svg" alt="">
            <img class="img" src="../../../assets/logo_app/34 3.svg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/54 22.svg" alt="">
            <img class="img" src="../../../assets/logo_app/342 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/123 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/42 1.svg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/432 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/5342 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/2344 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/5421 1.svg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/412 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/534 3.svg" alt="">
            <img class="img" src="../../../assets/logo_app/1212 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/2341 1.svg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/912 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/4442 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/ffvc 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/bb 1.svg" alt="">
        </div>
        <div class="imgs">
            <img class="img" src="../../../assets/logo_app/cx 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/vfa 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/qqqw 1.svg" alt="">
            <img class="img" src="../../../assets/logo_app/fv v 1.svg" alt="">
        </div>
    </div>
</div>
