@import '../../../responsive.scss';

.logotype_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    flex-direction: column;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down {
        margin: 0 48px 140px;
    }
    @include tablet-portrait-down {
        margin: 0 24px 140px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    @include mobile-only{
        justify-content: space-around;
    }

}

.imgs {
    display: contents;
    @include tablet-portrait-down{
        display: flex;
        flex-direction: column;
    }

}

.img {
    height: 60px;
    width: 60px;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
    transition: 0.2s;
    @include tablet-landscape-down{
        width: 44px;
    }
    @include tablet-portrait-down{
        width: 58px;
        height: 58px;
    }
}
.img:hover {
    transform: scale(1.15);
}

@media (max-width: 430px) {
    .imgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .img {
        height: 58px;
        width: 58px;
        margin-top: 30px;  
        margin-left: 0;
        margin-right: 0;
    }

}