<div class="translator_container">
    <div class="block">
        <div class="text">{{ 'translators.translator_text' | translate }}</div>
        <p class="subtext">{{ 'translators.translator_subtext1' | translate }}</p>
        <p class="subtext">{{ 'translators.translator_subtext2' | translate }}</p>
    </div>
    <a class="translator_btn" href="https://app.gettranslation.io/en/translator/sign-up?id=16&filial=26" target="_blank">
        {{ 'translators.translator_btn' | translate }}
    </a>
</div>