<app-header></app-header>
<div class="maintext">
    Custom localization solutions
</div>
<div class="subtext">
    From the high-touch training of translators to match your preferred style, to APIs and custom workflow design. We address the needs of thousands of different clients in all industries.
</div>

<div class="block1"></div>
<img class="img1" src="../../assets/supported/done.svg" alt="">
<div class="text1">Localization workflows</div>
<div class="block2"></div>
<img class="img2" src="../../assets/supported/done.svg" alt="">
<div class="text2">Translators recruitment</div>
<div class="block3"></div>
<img class="img3" src="../../assets/supported/done.svg" alt="">
<div class="text3">High-touch translators training</div>

<div class="block4"></div>
<img class="img4" src="../../assets/supported/done.svg" alt="">
<div class="text4">Translation APIs</div>
<div class="block5"></div>
<img class="img5" src="../../assets/supported/done.svg" alt="">
<div class="text5">Third party integrations</div>
<div class="block6"></div>
<img class="img6" src="../../assets/supported/done.svg" alt="">
<div class="text6">Filters for content extraction</div>

<div class="block7"></div>
<img class="img7" src="../../assets/supported/done.svg" alt="">
<div class="text7">Machine Translation training</div>

<app-logo-app class="logo_app"></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>

<div class="accuracy">
    <div class="accuracy_maintext">
        <p>Accuracy starts</p>
        <p>with processes</p>
    </div>
    <div class="accuracy_block"></div>
    <img class="accuracy_img" src="../../assets/icon (1).svg" alt="">
    <div class="accuracy_text">
        <p>We are helping the world become more connected by offering expert human translations</p>
        <p>provided by native speakers, certified professionals, and cutting-edge technology</p>
        <p>to enable you communicate more clearly.</p>
    </div>
    <a [routerLink]="['/production-process']" class="accuracy_link">Production Process</a>
</div>


<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>