<app-header></app-header>
<div class="maintext">
    <p>From innovative startups </p>
    <p>to multinationals</p>
</div>
<div class="subtext">
    <p>Serving thousands of customers worldwide, we partner with businesses of every size, adapting from small,</p>
    <p>on-demand tasks to high touch, fully managed solutions.</p>
</div>


<div class="case">Case studies</div>
<div class="block1"></div>
<img class="img1" src="../../assets/form/google 1.svg" alt="">
<div class="text1">
    <p>Google is the leading web search and online advertising solutions provider. For them, we have translated a volume of more than 20 million words in 190 language combinations since 2017. Additionally, we have created</p>
    <p>a custom build AI system for the classification on 700K keywords for various industries,</p>
    <p>and we have provided an integration of our professional translation services within Google Translate, Youtube and Playstore.</p>    
</div>

<div class="block2"></div>
<img class="img2" src="../../assets/form/european-union 1.svg" alt="">
<div class="text2">Translation of standards, policy documents, reports to other EU institutions, framework documents on legal, technical, financial, scientific and economic issues, correspondence, web pages, press releases, speeches and statements, in 20 languages and for a volume of more than 5 million words.</div>

<div class="block3"></div>
<img class="img3" src="../../assets/form/Ellipse 11.svg" alt="">
<div class="text3">
    <p>Translation of fashion marketing content in over 30 languages, including: press releases</p>
    <p>and statements, articles, corporate slides</p>
    <p>and presentations, website contents</p>
    <p>and product descriptions, for a volume of more</p>
    <p>than million words successfully delivered.</p>
</div>

<div class="block4"></div>
<img class="img4" src="../../assets/form/Ellipse 10.svg" alt="">
<div class="text4">
    Rakuten is a leading electronic commerce and online retailing company to which we provide top quality translation of technical specifications for mobile devices, legal documents and contracts, tender documentation, while always guaranteeing maximum confidentiality.
</div>

<div class="block5"></div>
<img class="img5" src="../../assets/form/Ellipse 12.svg" alt="">
<div class="text5">The World Health Organization is the United Nations public health authority. They require the translation and proofreading of abstracts for the Bulletin, one of the world's leading public health journals, for the Global Health Observatory, WHO's gateway to health-related statistics, and for the WHO Framework Convention on Tobacco Control, which is the pre-eminent global tobacco control instrument.</div>
    




<app-key-benefits class="key_benefits"></app-key-benefits>
<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>