.maintext {
    position: absolute;
    width: 503px;
    height: 96px;
    left: 549px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-251px
}

.subtext {
    position: absolute;
    width: 760px;
    height: 40px;
    left: 420px;
    top: 284px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-380px
}

.case {
    position: absolute;
    width: 246px;
    height: 48px;
    left: 224px;
    top: 380px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #161616; 
    left:50%; 
    margin-left:-576px  
}


.block1 {
    height: 338px;
    width: 368px;
    left: 616px;
    top: 380px;
    border-radius: 12px;
    
    position: absolute;
    width: 368px;
    height: 338px;
    left: 616px;
    top: 380px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px 
}
.block3 {
    height: 338px;
    width: 368px;
    left: 616px;
    top: 742px;
    border-radius: 12px;

    position: absolute;
    width: 368px;
    height: 338px;
    left: 616px;
    top: 742px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:-184px 
}
.block5 {
    height: 338px;
    width: 368px;
    left: 616px;
    top: 1104px;
    border-radius: 12px;

    position: absolute;
    width: 368px;
    height: 338px;
    left: 616px;
    top: 1104px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;

    left:50%; 
    margin-left:-184px 
}

.block2{
    height: 338px;
    width: 368px;
    left: 1008px;
    top: 380px;
    border-radius: 12px;

    position: absolute;
    width: 368px;
    height: 338px;
    left: 1008px;
    top: 380px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left: 208px 
}

.block4{
    height: 338px;
    width: 368px;
    left: 1008px;
    top: 742px;
    border-radius: 12px;

    position: absolute;
    width: 368px;
    height: 338px;
    left: 1008px;
    top: 742px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left: 208px 
}

.img1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 652px;
    top: 416px;

    height: 48px;
    width: 48px;
    left: 652px;
    top: 416px;

    left:50%; 
    margin-left: -148px 
}

.img2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1044px;
    top: 416px;

    height: 48px;
    width: 48px;
    left: 1044px;
    top: 416px;
    border-radius: 0px;

    left:50%; 
    margin-left: 244px  
}

.img3 {

    
    position: absolute;
    left: 40%;
    right: 55.5%;
    top: 19.59%;
    bottom: 78.57%;

    height: 72px;
    width: 72px;
    left: 640px;
    top: 766px;
    border-radius: 0px;


    left:50%; 
    margin-left: -160px 
}


.img4 {
    position: absolute;
    left: 64.5%;
    right: 31%;
    top: 19.59%;
    bottom: 78.57%;

    height: 72px;
    width: 72px;
    left: 1032px;
    top: 766px;
    border-radius: 0px;
    left:50%; 
    margin-left: 223px;
   
}

.img5 {
    position: absolute;
    left: 40%;
    right: 55.5%;
    top: 28.84%;
    bottom: 69.32%;

    height: 72px;
    width: 72px;
    left: 640px;
    top: 1128px;
    border-radius: 0px;

    left:50%; 
    margin-left: -160px  
}

.text1 {

    
    position: absolute;
    left: 40%;
    right: 40%;
    top: 12.58%;
    bottom: 82.31%;

    height: 200px;
    width: 320px;
    left: 640px;
    top: 492px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* #161616 */
    
    color: #161616;

    left:50%; 
    margin-left: -160px  
}
.text2 {
    position: absolute;
    left: 64.5%;
    right: 15.5%;
    top: 12.58%;
    bottom: 83.84%;

    height: 140px;
    width: 320px;
    left: 1032px;
    top: 492px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 232px  
}
.text3 {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 21.84%;
    bottom: 75.1%;

    height: 120px;
    width: 320px;
    left: 640px;
    top: 854px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* #161616 */
    
    color: #161616;

    left:50%; 
    margin-left: -160px  
}
.text4 {
    position: absolute;
    left: 64.5%;
    right: 15.5%;
    top: 21.84%;
    bottom: 74.58%;

    height: 140px;
    width: 320px;
    left: 1032px;
    top: 854px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 232px  
}
.text5 {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 31.09%;
    bottom: 64.31%;

    height: 180px;
    width: 320px;
    left: 640px;
    top: 1216px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    /* #161616 */
    
    color: #161616;  
    
    left:50%; 
    margin-left: -160px  
}

.key_benefits {
    position: absolute;
    width: 1152px;
    height: 540px;
    left: 224px;
    top: 1610px;

    overflow: unset;
    left:50%; 
    margin-left:-576px
}

.discover {
    position: absolute;
    width: 1040px;
    height: 420px;
    left: 224px;
    top: 2318px;
    left:50%; 
    margin-left:-576px
}

.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 2905px;
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 3281px;
    left:50%; 
    margin-left:-576px
}


.footer{
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 3729px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 3879px;
    left:50%; 
    margin-left:-576px
}