<app-header></app-header>
<div class="maintext">Web software localization</div>
<div class="subtext">
    <p>We combine advanced artificial intelligence with human editors, for fast, efficient, </p>
    <p>high-quality translations that get smarter over time.</p>
</div>

<div class="block1"></div>
<img class="img1" src="../../assets/supported/done.svg" alt="">
<div class="text1">Static web applications</div>
<div class="block2"></div>
<img class="img2" src="../../assets/supported/done.svg" alt="">
<div class="text2">Dynamic web applications</div>
<div class="block3"></div>
<img class="img3" src="../../assets/supported/done.svg" alt="">
<div class="text3">Online stores or e-commerce</div>

<div class="block4"></div>
<img class="img4" src="../../assets/supported/done.svg" alt="">
<div class="text4">Portal web app</div>
<div class="block5"></div>
<img class="img5" src="../../assets/supported/done.svg" alt="">
<div class="text5">Animated web application</div>
<div class="block6"></div>
<img class="img6" src="../../assets/supported/done.svg" alt="">
<div class="text6">CMS (Wordpress, Joomla)</div>

<app-logo-app class="logo_app"></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>


<div class="we_maintext">We make your products accessible to anyone</div>
<div class="we_text">
    <p>Localization is the process of adapting a product to meet the needs (especially linguistic and cultural) of a given place or market (LISA, Localization Industry Standards Association).</p>
    <p class="space_top">Translated works with almost all hardware and software platforms on the market. It also develops filters for extracting and re-inserting texts for proprietary environments, preferring open technologies such as XML and UNICODE.</p>
    <p class="space_top">The strengths of our localization process are:</p>
    <ul class="space_top">
        <li>Tested and reproducible methodologies</li>
        <li>Extraction of terminology and style from your existing documentation</li>
        <li>Translation in environments which include spell checkers, translation memories, and terminology management</li>
        <li>Total compliance with international standards and industry terminology</li>
        <li>In-house product testing</li>
        <li>Experience with millions of localized words, for major software producers</li>
    </ul>
</div>

<div class="why_maintext">We can test and fine-tune your software</div>
<div class="why_text">
    <p>A challenge when testing software is that each language is meant for users from different cultures. Aspects such as text direction, measurements, and currency must therefore be considered, and your software’s sentences must be specifically adapted to the local cultural context, guaranteeing that the translation is accurate and understandable in the target country: a genuine localization process.</p>
    <p class="space_top">We can test your localized software, taking care of test environment setup, test case design, test execution, and fine-tuning translations.</p>
</div>

<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>