<app-header></app-header>
<div class="websoftware_container">
    <h1 class="title">{{ 'websoftware.title' | translate }}</h1>
    <div class="description">
        <p>{{ 'websoftware.description' | translate }}</p>
    </div>
</div>

<div class="websoftware_points_container">
    <div class="blocks">
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext"> {{ 'websoftware.point_text1' | translate }}</p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'websoftware.point_text2' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'websoftware.point_text3' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'websoftware.point_text4' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'websoftware.point_text5' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'websoftware.point_text6' | translate }}
            </p>
        </div>
    </div>
</div>


<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'websoftware.accessible_title' | translate }}</h3>
    </div>

        <div class="question_content">
            <p class="question_subtext">{{ 'websoftware.accessible_text1' | translate }}</p>
            <p class="question_subtext">{{ 'websoftware.accessible_text2' | translate }}</p>
            <p class="question_subtext">{{ 'websoftware.accessible_text3' | translate }}</p>
            <ul class="question_subtext space_ul">
                <li>{{ 'websoftware.accessible_subtext1' | translate }}</li>
                <li>{{ 'websoftware.accessible_subtext2' | translate }}</li>
                <li>{{ 'websoftware.accessible_subtext3' | translate }}</li>
                <li>{{ 'websoftware.accessible_subtext4' | translate }}</li>
                <li>{{ 'websoftware.accessible_subtext5' | translate }}</li>
                <li>{{ 'websoftware.accessible_subtext6' | translate }}</li>
            </ul>
        </div>
</div>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'websoftware.test_title' | translate }}</h3>
    </div>
        <div class="question_content">
            <p class="question_subtext">{{ 'websoftware.test_subtext1' | translate }}</p>
            <p class="question_subtext">{{ 'websoftware.test_subtext1' | translate }}</p>
        </div>
</div>


<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>