<nav class="header">
    <div (click)="onRoute()" [routerLink]="['/']" class="logo_container">
        <img src="../../assets/gettrans_icon.svg" alt="Logo icon">
        <img class="logo_name" src="../../assets/gettrans_name.svg" alt="Logo name">
    </div>

    <ul [ngClass]="{'links_quote': quote == true || contact == true}" class="links">
        <li>
            <a [routerLink]="['/enterprises']">{{ 'header.enterprises' | translate }}</a>
        </li>
        <li>
            <a (click)="onRoute()" [routerLink]="['/developers']">{{ 'header.developers' | translate }}</a>
        </li>
        <li>
            <a (click)="onRoute()" [routerLink]="['/translators']">{{ 'header.translators' | translate }}</a>
        </li>
        <li>
            <a (mouseover)="service_hover=true" (mouseout)="service_hover=false"
                [ngClass]="{'serviceColor': service == true}" (click)="onService()">{{ 'header.services' | translate }}
                <img *ngIf="service" class="serviceActive" src="../../assets/menu/Frame 12 (1).svg" alt="">
                <img *ngIf="!service && !service_hover" class="serviceStandart" src="../../assets/Frame 12 (2)_1.svg"
                    alt="">
                <img *ngIf="!service && service_hover" class="serviceStandart" src="../../assets/Frame 12 (2).svg"
                    alt="">
            </a>
        </li>

    </ul>

    <div (click)="onRoute()" [ngClass]="{'user_quote': quote == true || contact == true}" class="user">
        <a (mouseover)="user_img=true" (mouseout)="user_img=false" (click)="onLoginMod()">
            <img *ngIf="!user_img" class="user_img" src="../../assets/icon/user.svg" alt="">
            <img *ngIf="user_img" class="user_img" src="../../assets/user.svg" alt="">
        </a>
    </div>

    <ul class="buttons">
        <li *ngIf="contact == false">
            <button (click)="onRoute()" class="btn1" [routerLink]="['/contact']">{{ 'header.contact' | translate
                }}</button>
        </li>
        <li *ngIf="quote == false">
            <button (click)="onRoute()" [ngClass]="{'btn1_contact': contact == true}" class="btn2 bg_blue"
                [routerLink]="['/quote']">{{ 'header.instant' | translate }}</button>
        </li>
    </ul>


    <div class="mobileview_container">
        <img (click)="onShowMobileMenu()" class="mobile_menu_icon" src="../../assets/menu-hamburger.svg">
        <div class="mobileview_menu" [ngClass]="{'mobileview_animation': showMobileMenu === true}">
            <ul class="menu_list">
                <img (click)="onShowMobileMenu()" class="menu_close" src="../../assets/close_black.svg"
                    alt="close menu">

                <div (click)="onRoute()" class="menu_login">
                    <a (click)="onLoginMod()">{{ 'header.login' | translate }}</a>
                </div>

                <li class="menu_item">
                    <a [routerLink]="['/enterprises']">{{ 'header.enterprises' | translate }}</a>
                </li>
                <li class="menu_item">
                    <a (click)="onRoute()" [routerLink]="['/developers']">{{ 'header.developers' | translate }}</a>
                </li>
                <li class="menu_item">
                    <a (click)="onRoute()" [routerLink]="['/translators']">{{ 'header.translators' | translate }}</a>
                </li>
                <li class="menu_item">
                    <a (click)="onServiceMobile()">{{ 'header.services' | translate }}
                        <img [ngClass]="{'service_icon_animation': serviceMobile == true}" class="service_icondown"
                            src="../../assets/Frame 12 (2)_1.svg" alt="">
                    </a>
                    <ul class="mobile_service_menu" *ngIf="serviceMobile">
                        <li class="service_menu">
                            <a class="service_item" (click)="onService()" [routerLink]="['/website-localization']">{{
                                'header.service_item1' | translate }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/web-software-localization']">{{ 'header.service_item2' | translate
                                }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/custom-localization-solutions']">{{ 'header.service_item3' | translate
                                }}</a>
                            <a class="service_item" (click)="onService()" [routerLink]="['/adwords-localization']">{{
                                'header.service_item4' | translate }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/multilingual-dtp-services']">{{ 'header.service_item5' | translate
                                }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/multilingual-chatbot-services']">{{ 'header.service_item6' | translate
                                }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/transcription-subtitle-translation']">{{ 'header.service_item7' |
                                translate }}</a>
                            <a class="service_item" (click)="onService()"
                                [routerLink]="['/sworn-certified-official-translation']">{{ 'header.service_item8' |
                                translate }}</a>
                            <a class="service_item" (click)="onService()" [routerLink]="['/urgent-translations']">{{
                                'header.service_item9' | translate }}</a>
                        </li>
                    </ul>
                </li>

                <div class="buttons_menu">
                    <a [routerLink]="['/contact']" class="btn_contact">{{ 'header.contact' | translate }}</a>
                    <a [routerLink]="['/quote']" class="btn_instant">{{ 'header.instant' | translate }}</a>
                </div>
            </ul>
            <div class="menu_footer">
                <img class="logo" src="../../assets/social media (footer)/android-chrome-512x512.png" alt="">
                <div class="block">
                    <p class="footer_text">{{ 'footer.footer_text' | translate }}</p>
                    <p class="footer_note">{{ 'footer.footer_note' | translate }}</p>
                </div>
            </div>

        </div>
    </div>
    <!-- Service -->
    <div *ngIf="service" class="services_container">
        <div class="services_blocks service_bottom_line">
            <a class="service_block service_right_line" (click)="onService()" [routerLink]="['/website-localization']">
                <img class="service_image" src="../../assets/menu/icon (5).svg" alt="">
                <div class="service_label">{{ 'header.service_item1' | translate }}</div>
            </a>
            <a class="service_block service_right_line" (click)="onService()"
                [routerLink]="['/web-software-localization']">
                <img class="service_image" src="../../assets/menu/icon (6).svg" alt="">
                <div class="service_label">{{ 'header.service_item2' | translate }}</div>
            </a>
            <a class="service_block" (click)="onService()" [routerLink]="['/custom-localization-solutions']">
                <img class="service_image" src="../../assets/menu/icon (7).svg" alt="">
                <div class="service_label">{{ 'header.service_item3' | translate }}</div>
            </a>
        </div>
        <div class="services_blocks service_bottom_line">
            <a class="service_block service_right_line" (click)="onService()" [routerLink]="['/adwords-localization']">
                <img class="service_image" src="../../assets/menu/icon (8).svg" alt="">
                <div class="service_label">{{ 'header.service_item4' | translate }}</div>
            </a>
            <a class="service_block service_right_line" (click)="onService()"
                [routerLink]="['/multilingual-dtp-services']">
                <img class="service_image" src="../../assets/menu/icon (9).svg" alt="">
                <div class="service_label">{{ 'header.service_item5' | translate }}</div>
            </a>
            <a class="service_block" (click)="onService()" [routerLink]="['/multilingual-chatbot-services']">
                <img class="service_image" src="../../assets/menu/Group 259.svg" alt="">
                <div class="service_label">{{ 'header.service_item6' | translate }}</div>
            </a>
        </div>
        <div class="services_blocks">
            <a class="service_block service_right_line" (click)="onService()"
                [routerLink]="['/transcription-subtitle-translation']">
                <img class="service_image" src="../../assets/menu/icon (11).svg" alt="">
                <div class="service_label">{{ 'header.service_item7' | translate }}</div>
            </a>
            <a class="service_block service_right_line" (click)="onService()"
                [routerLink]="['/sworn-certified-official-translation']">
                <img class="service_image" src="../../assets/menu/icon (12).svg" alt="">
                <div class="service_label">{{ 'header.service_item8' | translate }}</div>
            </a>
            <a class="service_block" (click)="onService()" [routerLink]="['/urgent-translations']">
                <img class="service_image" src="../../assets/menu/icon (13).svg" alt="">
                <div class="service_label">{{ 'header.service_item9' | translate }}</div>
            </a>
        </div>
    </div>
</nav>


<!-- Close mobile menu -->
<div (click)="allModalClose()" [ngClass]="{'mobileview-fade': showMobileMenu }"></div>

<div *ngIf="login_mod" class="login_mod">
    <button class="login_mod_close" (click)="loginModClose()"> </button>

    <p class="login_mod_text">{{ 'header.login_mod_title' | translate }}</p>

    <div class="login_type">
        <a class="login_btn login_underline">{{ 'header.login_btn1' | translate }}</a> 
        <a class="login_btn" href="https://app.gettranslation.io/en/sign-in" target="_blank">
            {{ 'header.login_btn2' | translate }}
            <img class="redirect" href="https://app.gettranslation.io/en/sign-in" src="../../assets/redirect.svg"
                alt="">
        </a>
        <a class="login_btn" href="https://app.gettranslation.io/en/manager/sign-in" target="_blank">
            {{ 'header.login_btn3' | translate }}
            <img href="https://app.gettranslation.io/en/manager/sign-in" target="_blank" class="redirect"
                src="../../assets/redirect.svg" alt="">
        </a>
    </div>

    <div class="form_block">
        <p class="form_label">{{ 'header.email_label' | translate }}</p>
        <input class="form_input" [formControl]="email" placeholder="example@domain.com" id="email" required>
        <div *ngIf="email.errors &&(email.touched || email.dirty)" class="text_error">
            <p class="valid_error"> {{ 'header.email_incorrect' | translate }}</p>
        </div>
        <div *ngIf="!email.errors &&(email.touched || email.dirty)" class="text_error">
            <p class="valid_normal">{{ 'header.email_correct' | translate }}</p>
        </div>
    </div>


    <div class="form_block">
        <p class="form_label">{{ 'header.password_label' | translate }}</p>
        <input class="form_input" id="password" type="password">
        <img (click)="showPassword()" class="eye" src="../../assets/Frame 11.svg" alt="">
    </div>

    <a class="forgot" href="">{{ 'header.forgot_label' | translate }}</a>

    <button type="submit" class="login_mod_done">{{ 'header.submit_login' | translate }}</button>
</div>

<div (click)="allModalClose()" [ngClass]="{'popup-fade': login_mod}"></div>