@import '../../responsive.scss';

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    height: auto;
    margin: 0 auto 32px;

    @include desktop-down {
        margin: 0 64px 32px;
    }

    @include tablet-landscape-down {
        margin: 0 48px 32px;
    }

    @include tablet-portrait-down {
        margin: 0 24px 64px;
    }
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    @include tablet-landscape-down{
        flex-direction: column;
        align-items: flex-end;
    }
    @include tablet-portrait-down{
        align-items: flex-start;
    }

}
.footer_flex{
    display: flex;
    margin: 0 24px 0 0;
    justify-content: space-between;
    width: 100%;
    @include tablet-landscape-down{
        margin: 0;
    }
    @include tablet-portrait-down{
        flex-direction: column;
    }
}
.footer_pages_container{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    @include desktop-down{
        max-width: 232px;
    }
    @include tablet-landscape-down{
        max-width: 276px;
        width: 276px;
        margin: 0;
    }
    @include tablet-portrait-down{
        max-width: 80%;
        width: unset;
        justify-content: space-around;

    }
    @include mobile-only{
        justify-content: flex-start;
        max-width: 100%;
    }
}

.footer_pages {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include tablet-portrait-down{
        margin: 0 48px 0 0;
    }
}

a:hover {
    color:#4247E5;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 0;
}
.footer_info_block{
    display: flex;
    margin: 0 24px 0 0;
    @include tablet-portrait-down{
        margin: 0 0 32px 0;
    }
}
.block {
    margin: 0 0 0 24px;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include tablet-landscape-down{
        max-width: 260px;
    }
    @include tablet-portrait-down{
        max-width: 100%;
    }
}

.footer_text {
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.footer_note {
    margin-top: 10px;
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
}

.page_item {
    font-family: 'Nexa XBold';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

.block_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    @include tablet-landscape-down{
        margin: 20px 0 0 0;
    }
    @include mobile-only{
        width: 100%;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
    @include mobile-only{
        flex-direction: column;
        margin: 0;
    }
}
.select_container{
    position: relative;
    margin: 0;
    @include mobile-only{
        margin: 0 0 20px;
    }
}

.btn_lang {
    border: 1px solid #161616;
    border-radius: 12px;
    height: 44px;
    width: 138px;
    padding-left: 16px;

    font-family: 'Nexa Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    @include tablet-landscape-down{
        width: 130px;
    }
    @include tablet-portrait-down{
        width: 155px;
    }
    @include mobile-only{
        width: 100%;
        margin: 0;
    }
}
.btn_lang:focus{
    border: 2px solid #4247E5;
}

.btn_curr {
    border: 1px solid #161616;
    border-radius: 12px;
    height: 44px;
    width: 138px;
    padding-left: 16px;
    margin: 0 0 0 16px;

    font-family: 'Nexa Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 22px; 
    @include tablet-landscape-down{
        width: 130px;
    }
    @include tablet-portrait-down{
        width: 155px;
    }
    @include mobile-only{
        width: 100%;
        margin: 0;
    }
}
.btn_curr:focus{
    border: 2px solid #4247E5;
}

.arrow_item {
    position: absolute;
    right: 8%;
    top: 25%;

    @include mobile-only {
        right: 6%;
    }
}


.social {
    margin: 24px 0 0 0;
    width: 184px;
    height: 24px;
    @include mobile-only{
        margin: 4px 0 0 0;
    }
}

.img {
    width: 24px;
    height: 24px;
}
select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
select:focus {
    outline: none;
}

@media (max-width: 430px) {
    * { 
        max-width: 327px;
        margin: 0 auto;
        display: none;
    }
}

@import '../../responsive.scss';

//Cookies and switch language
.cookie_container{
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;

    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    z-index: 9999;

    min-height: 40px;
    background: #4247E5;
    color: #FFFFFF;
    
    text-align: center;
    box-sizing: border-box;
}
.cookie_body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1000px;
    width: 100%;
    @include desktop-down{
        justify-content: space-around;
    }
}
.cookie_content{
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    @include desktop-down{
        max-width: 768px;
        flex-direction: column;
    }
    @include tablet-landscape-down{
        max-width: 500px;
    }    
    @include tablet-portrait-down{
        max-width: 252px;
        margin-bottom: 12px;
    }
}
.cookie_descr{
    margin: 0;
    font-weight: 400;
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.coookie_learn_more{
    color: #FFFFFF;
    font-family: "Nexa XBold";
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 3px;
    @include tablet-portrait-down{
        display: none;
    }
}
.coookie_learn_more:hover{
    color: #FFFFFF;
}
.cookie_close{
    width: 10px;
    height: 10px;
    margin: 0;
    @include tablet-portrait-down{
        display: none;
    }
}
.cookie_close #close{
    fill: #FFFFFF!important;
}
.buttons_mobile_view{
    display: none;
    @include tablet-portrait-down{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.button_learn{
    display: flex;
    height: 34px;
    min-width: 112px;
    margin: 0 8px 0 0;
    padding: 8px 22px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    text-align: center; 

    color: #4247E5;
    background: #FFFFFF;
    border-radius: 12px;
}
.button_close{
    height: 34px;
    width: 122px;
    margin: 0;
    padding: 8px auto;

    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 12px;
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;  
    text-align: center;

    color: #FFFFFF;
}
.popup_container{
    display: block;
    position: fixed;
    bottom: 46px;
    left: 10px;
    width: 358px;
    min-height: 96px;
    padding: 20px 24px;

    background: #FFFFFF;
    box-shadow: 0 4px 14px #06070726;    
    border-radius: 20px;
    z-index: 99999;
}
.popup_close{
    position: absolute;
    right: 18px;
    top: 18px;
    width: 9px;
    height: 9px;
}
.popup_content{
    display: flex;
}
.popup_icon{
    margin: 0;
    width: 28px;
    height: 28px;
}
.popup_margin{
    margin: 0 0 0 12px;
}
.popup_title{
    margin: 0;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
}
.popup_buttons{
    margin: 8px 0 0 0;
}
.button_change{
    margin: 0 16px 0 0;
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    color: #4247E5;
    border: none;
    background-color: transparent;
}
.button_nochange{
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #4247E5;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}

// @media (min-width: 374px) {
//     * {
//         padding-left: 24px;
//         padding-right: 24px;
//         width: 100%;
//     }
// }

// @media mobile (max-width: 430px) {
//     * {
//         max-width: 327px;
//         margin: 0 auto;
//     }
// }
