<div class="footer">
    <div class="footer_container">
        <div class="footer_flex">
            <div class="footer_info_block">
                <img class="logo" src="../../assets/social media (footer)/android-chrome-512x512.png" alt="">
                <div class="block">
                    <p class="footer_text">{{ 'footer.footer_text' | translate }}</p>
                    <p class="footer_note">{{ 'footer.footer_note' | translate }}</p>
                </div>
            </div>
            <div class="footer_pages_container">
                <div class="footer_pages">
                    <a [routerLink]="['/enterprises']" class="page_item">{{ 'footer.menu_item1' | translate }}</a>
                    <a [routerLink]="['/developers']" class="page_item">{{ 'footer.menu_item2' | translate }}</a>
                    <a [routerLink]="['/translators']" class="page_item">{{ 'footer.menu_item3' | translate }}</a>
                    <a [routerLink]="['/сase-studies']" class="page_item">{{ 'footer.menu_item4' | translate }}</a>
                    <a [routerLink]="['/quote']" class="page_item">{{ 'footer.menu_item5' | translate }}</a>
                </div>
                <div class="footer_pages">
                    <a [routerLink]="['/about']" class="page_item">{{ 'footer.menu_item6' | translate }}</a>
                    <a [routerLink]="['/contact']" class="page_item">{{ 'footer.menu_item7' | translate }}</a>
                    <a [routerLink]="['/terms']" class="page_item">{{ 'footer.menu_item8' | translate }}</a>
                    <a [routerLink]="['/privacy']" class="page_item">{{ 'footer.menu_item9' | translate }}</a>
                    <a [routerLink]="['/faq']" class="page_item">{{ 'footer.menu_item10' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="block_btn">
            <div class="btns">
                <div class="select_container">
                    <select (click)="changeLang()" [(ngModel)]="lang" class="btn_lang" name="from" id="from">
                        <option value="de">{{ 'footer.de' | translate }}</option>
                        <option value="en" selected="selected">{{ 'footer.en' | translate }}</option>
                        <option value="es">{{ 'footer.es' | translate }}</option>
                        <option value="fr">{{ 'footer.fr' | translate }}</option>
                        <option value="nl">{{ 'footer.nl' | translate }}</option>
                        <option value="pl">{{ 'footer.pl' | translate }}</option>
                        <option value="ru">{{ 'footer.ru' | translate }}</option>
                        <option value="sv">{{ 'footer.sv' | translate }}</option>
                        <option value="tr">{{ 'footer.tr' | translate }}</option>
                        <option value="ko">{{ 'footer.ko' | translate }}</option>
                        <option value="no">{{ 'footer.no' | translate }}</option>
                        <option value="da">{{ 'footer.da' | translate }}</option>
                        <option value="fi">{{ 'footer.fi' | translate }}</option>
                    </select>
                    <img class="arrow_item" src="../../assets/arrow.svg">
                </div>

                <div class="select_container">
                    <select class="btn_curr" name="from" id="from">
                        <option value="Euro (EUR)">{{ 'footer.curr_euro' | translate }}</option>
                        <option value="US dollar (USD)" selected="selected">{{ 'footer.curr_dollar' | translate }}</option>
                        <option value="Złoty (PLN)">{{ 'footer.curr_zloty' | translate }}</option>
                    </select>
                    <img class="arrow_item" src="../../assets/arrow.svg">
                </div>

            </div>

            <div class="flex social">
                <a href="mailto: hello@gettranslation.io">
                    <img class="img" src="../../assets/social media (footer)/mail.svg" alt="">
                </a>
                <a href="callto: +44 20 4577 3740">
                    <img class="img" src="../../assets/social media (footer)/phone.svg" alt="">
                </a>
                <a href="https://www.facebook.com/gettranslatio" target="_blank">
                    <img class="img" src="../../assets/social media (footer)/facebook.svg" alt="">
                </a>
                <a href="https://instagram.com/gettranslation" target="_blank">
                    <img class="img" src="../../assets/social media (footer)/instagram.svg" alt="">
                </a>
                <a href="https://linkedin.com/company/gettranslatio" target="_blank">
                    <img class="img" src="../../assets/social media (footer)/linkedin.svg" alt="">
                </a>
                <a href="https://m.me/gettranslatio" target="_blank">
                    <img class="img" src="../../assets/social media (footer)/whatsapp.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>