@import '../../responsive.scss';

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    height: auto;
    margin: 0 auto 32px;

    @include desktop-down {
        margin: 0 64px 32px;
    }

    @include tablet-landscape-down {
        margin: 0 48px 32px;
    }

    @include tablet-portrait-down {
        margin: 0 24px 64px;
    }
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    @include tablet-landscape-down{
        flex-direction: column;
        align-items: flex-end;
    }
    @include tablet-portrait-down{
        align-items: flex-start;
    }

}
.footer_flex{
    display: flex;
    margin: 0 24px 0 0;
    justify-content: space-between;
    width: 100%;
    @include tablet-landscape-down{
        margin: 0;
    }
    @include tablet-portrait-down{
        flex-direction: column;
    }
}
.footer_pages_container{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    @include desktop-down{
        max-width: 232px;
    }
    @include tablet-landscape-down{
        max-width: 276px;
        width: 276px;
        margin: 0;
    }
    @include tablet-portrait-down{
        max-width: 80%;
        width: unset;
        justify-content: space-around;

    }
    @include mobile-only{
        justify-content: flex-start;
        max-width: 100%;
    }
}

.footer_pages {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include tablet-portrait-down{
        margin: 0 48px 0 0;
    }
}

a:hover {
    color:#4247E5;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 0;
}
.footer_info_block{
    display: flex;
    margin: 0 24px 0 0;
    @include tablet-portrait-down{
        margin: 0 0 32px 0;
    }
}
.block {
    margin: 0 0 0 24px;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include tablet-landscape-down{
        max-width: 260px;
    }
    @include tablet-portrait-down{
        max-width: 100%;
    }
}

.footer_text {
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.footer_note {
    margin-top: 10px;
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
}

.page_item {
    font-family: 'Nexa XBold';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

.block_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    @include tablet-landscape-down{
        margin: 20px 0 0 0;
    }
    @include mobile-only{
        width: 100%;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
    @include mobile-only{
        flex-direction: column;
        margin: 0;
    }
}
.select_container{
    position: relative;
    margin: 0;
    @include mobile-only{
        margin: 0 0 20px;
    }
}

.btn_lang {
    border: 1px solid #161616;
    border-radius: 12px;
    height: 44px;
    width: 138px;
    padding-left: 16px;

    font-family: 'Nexa Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    @include tablet-landscape-down{
        width: 130px;
    }
    @include tablet-portrait-down{
        width: 155px;
    }
    @include mobile-only{
        width: 100%;
        margin: 0;
    }
}
.btn_lang:focus{
    border: 2px solid #4247E5;
}

.btn_curr {
    border: 1px solid #161616;
    border-radius: 12px;
    height: 44px;
    width: 138px;
    padding-left: 16px;
    margin: 0 0 0 16px;

    font-family: 'Nexa Regular';
    font-style: normal;
    font-size: 14px;
    line-height: 22px; 
    @include tablet-landscape-down{
        width: 130px;
    }
    @include tablet-portrait-down{
        width: 155px;
    }
    @include mobile-only{
        width: 100%;
        margin: 0;
    }
}
.btn_curr:focus{
    border: 2px solid #4247E5;
}

.arrow_item {
    position: absolute;
    right: 8%;
    top: 25%;

    @include mobile-only {
        right: 6%;
    }
}


.social {
    margin: 24px 0 0 0;
    width: 184px;
    height: 24px;
    @include mobile-only{
        margin: 4px 0 0 0;
    }
}

.img {
    width: 24px;
    height: 24px;
}
select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
select:focus {
    outline: none;
}