@import '../../responsive.scss';

.subtitling_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px 40px;

    @include desktop-down {
        margin: 96px 64px 40px;
    }

    @include tablet-landscape-down {
        margin: 96px 48px 40px;
    }

    @include tablet-portrait-down {
        margin: 56px 32px 40px;
    }

    @include mobile-only {
        margin: 48px 24px 32px;
    }
}
.title {
    max-width: 520px;
    margin: 0 0 16px 0;
  
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    text-align: center;
    color: #161616;
}
.description {
    max-width: 760px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    
    color: #180A24;   
}


.subtitling_points_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;

    }
}

.blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    @include desktop-down{
        justify-content: center;
    }

    @include tablet-landscape-down {
        justify-content: center;
    }
}
.block {
    height: auto;
    max-width: 368px;
    width: 100%;    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0 16px 16px 0;
    padding: 24px;
    @include desktop-down {
        max-width: 266px;
        margin: 0 10px 12px 0;
    }
    @include tablet-landscape-down {
        display: flex;
        align-items: center;
        padding: 24px;
        margin: 0 16px 16px 0;
        max-width: 312px;
        min-height: 80px;
    }
    @include mobile-only{
        min-width: 317px;
        max-width: 100%;
        min-height: 80px;
        margin: 0 0 16px 0;
    }
}
.block_content{
    margin: 0 0 16px;
    @include tablet-landscape-down{
        display: flex;
        margin: 0 16px 0 0;
    }
}
.img {
    width: 32px;
    height: 32px;
    margin: 0;
}
.subtext {
    font-family: 'Nexa Book';
    font-size: 14px;
    line-height: 20px; 
    @include tablet-landscape-down{
        margin: 0;
        line-height: unset;
    }
}


.question_subtitling_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 88px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 88px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 40px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 40px;
    }
}

.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}

.question_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}
.question_content {
    display: flex;
    flex-direction: column;

    margin: 0;
    max-width: 780px;
    width: 100%;
    color: #161616;

    @include tablet-landscape-down {
        align-items: flex-start;
        margin: 0 14px 0 0;
        max-width: 100%;
    }
}
.question_text {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.question_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}


.fix-width  {
    width: 1168px;
    max-width: none;
    padding: 26px 40px;
    border-radius: 14px;
    background: #ECEDFC;
}
.table_container{
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 100px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 48px;
    }
    @include tablet-portrait-down{
        margin: 0 24px 40px;
    }
}
.table {
    height: 268px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.scroll-inner {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#ECEDFC, 0.5);
        border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background: #DADCFF;;
	}
}

.table_column{
    display: flex;
    margin: 0;
}
.table_line{
    border-bottom: 1px solid rgba(172, 173, 183, 0.1);
}

.table_header {
    margin: 0 0 20px 0;
    width: 350px;
    text-align: start;
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

.table_descr {
    margin: 12px 0 16px 0;
    width: 350px;    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.table_first_column{
    width: 220px;
}
.table_line{
    border-bottom: 1px solid rgba(172, 173, 183, 0.1);
}
.table_additional{
    display: flex;
}
.table_space{
    margin: 0;
}
.add_info {
    margin: 0 0 0 5px;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    
    color: #383A5E;
    opacity: 0.3;
}

.why_subtitling_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    align-items: center;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 140px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}

.space_top {
    margin-top: .5rem;
}