<app-header></app-header>
<div class="subtitling_container">
    <h1 class="title">{{ 'subtitling.title' | translate }}</h1>
    <div class="description">
        <p>{{ 'subtitling.description' | translate }}</p>
    </div>
</div>

<div class="subtitling_points_container">
    <div class="blocks">
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext"> {{ 'subtitling.point_text1' | translate }}</p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text2' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text3' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text4' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text5' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text6' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text7' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text8' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text9' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text10' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text11' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text12' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text13' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'subtitling.point_text14' | translate }}
            </p>
        </div>
    </div>
</div>

<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'subtitling.multi_title' | translate }}</h3>
    </div>

    <div class="question_content">
        <p class="question_subtext">{{ 'subtitling.multi_subtext1' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.multi_subtext2' | translate }}</p>
        <p class="question_text">{{ 'subtitling.multi_subtext3' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.multi_subtext4' | translate }}</p>
    </div>
</div>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'subtitling.trans_title' | translate }}</h3>
    </div>
    <div class="question_content">
        <p class="question_text">{{ 'subtitling.trans_text' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.trans_subtext' | translate }}</p>
    </div>
</div>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'subtitling.audio_title' | translate }}</h3>
    </div>
    <div class="question_content">
        <p class="question_subtext">{{ 'subtitling.audio_subtext1' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.audio_subtext2' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.audio_subtext3' | translate }}</p>
        <p class="question_text">{{ 'subtitling.audio_subtext4' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.audio_subtext5' | translate }}</p>
    </div>
</div>

<div class="question_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'subtitling.close_title' | translate }}</h3>
    </div>
    <div class="question_content">
        <p class="question_subtext">{{ 'subtitling.close_subtext1' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.close_subtext2' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.close_subtext3' | translate }}</p>
        <p class="question_text">{{ 'subtitling.close_subtext4' | translate }}</p>
        <p class="question_subtext">{{ 'subtitling.close_subtext5' | translate }}</p>
    </div>
</div>

<div class="table_container">
<div class="table scroll-inner">
    <table class="fix-width">
        <thead>
            <tr class="table_column table_line">
                <th class="table_header">{{ 'subtitling.table_header1' | translate }}</th>
                <th class="table_header">{{ 'subtitling.table_header2' | translate }}</th>
                <th class="table_header">{{ 'subtitling.table_header3' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table_column table_line">
                <td class="table_descr">{{ 'subtitling.table_item11' | translate }}</td>
                <td class="table_additional table_descr">
                    <p class="table_space">{{ 'subtitling.table_item12' | translate }}</p>
                    <p class="add_info">{{ 'subtitling.row_note' | translate }}</p> 
                </td>
                <td class="table_descr">{{ 'subtitling.table_item13' | translate }}</td>
            </tr>
            <tr class="table_column table_line">
                <td class="table_descr">{{ 'subtitling.table_item21' | translate }}</td>
                <td class="table_descr">{{ 'subtitling.table_item22' | translate }}</td>
                <td class="table_descr">{{ 'subtitling.table_item23' | translate }}</td>
            </tr>
            <tr class="table_column">
                <td class="table_descr">{{ 'subtitling.table_item31' | translate }}</td>
                <td class="table_descr">{{ 'subtitling.table_item32' | translate }}</td>
                <td class="table_descr">{{ 'subtitling.table_item33' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div class="why_subtitling_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'subtitling.why_title' | translate }}</h3>
    </div>
    <div class="question_content">
        <p class="question_subtext">{{ 'subtitling.why_subtext' | translate }}</p>
    </div>
</div>

<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>