.maintext {
    position: absolute;
    width: 511px;
    height: 96px;
    left: 545px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;

    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-254px
}

.subtext {
    position: absolute;
    width: 760px;
    height: 60px;
    left: 420px;
    top: 292px;
    
    font-family: 'Nexa Book';
    font-style: normal;

    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    
    color: #180A24;
    left:50%; 
    margin-left:-380px 
}

.block1 {
    height: 118px;
    width: 368px;
    left: 224px;
    top: 384px;
    border-radius: 12px;     
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 224px;
    top: 384px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:-576px 
}
.img1 {
    height: 32px;
    width: 32px;
    left: 248px;
    top: 408px;         

    position: absolute;
    width: 32px;
    height: 32px;
    left: 248px;
    top: 408px;
    left:50%; 
    margin-left:-552px
}
.text1 {
    position: absolute;
    width: 127px;
    height: 22px;
    left: 248px;
    top: 456px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-552px   
}

.block2 {
    height: 118px;
    width: 368px;
    left: 616px;
    top: 384px;
    border-radius: 12px;
    
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 616px;
    top: 384px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:-184px   
}
.img2 {
    height: 32px;
    width: 32px;
    left: 640px;
    top: 408px;
    border-radius: 0px;     

    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 408px;
    left:50%; 
    margin-left:-160px    
}
.text2 {
    position: absolute;
    width: 202px;
    height: 22px;
    left: 640px;
    top: 456px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-160px 
}

.block3 {
    height: 118px;
    width: 368px;
    left: 1008px;
    top: 384px;
    border-radius: 12px;    
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 1008px;
    top: 384px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:208px 
}
.img3 {
    height: 32px;
    width: 32px;
    left: 1032px;
    top: 408px;
    border-radius: 0px;       
    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 408px;
    
    left:50%; 
    margin-left:232px 
}
.text3 {
    position: absolute;
    width: 68px;
    height: 22px;
    left: 1032px;
    top: 456px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:232px 
}

.block4 {
    height: 118px;
    width: 368px;
    left: 224px;
    top: 526px;
    border-radius: 12px;       

    position: absolute;
    width: 368px;
    height: 118px;
    left: 224px;
    top: 526px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-576px 
}
.img4 {
    height: 32px;
    width: 32px;
    left: 248px;
    top: 550px;
    border-radius: 0px;
    

    position: absolute;
    width: 32px;
    height: 32px;
    left: 248px;
    top: 550px;
    left:50%; 
    margin-left:-552px
}
.text4 {
    position: absolute;
    width: 213px;
    height: 22px;
    left: 248px;
    top: 598px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-552px
}

.block5 {
    height: 118px;
    width: 368px;
    left: 616px;
    top: 526px;
    border-radius: 12px;
        
    position: absolute;
    width: 368px;
    height: 118px;
    left: 616px;
    top: 526px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px   
}
.img5 {
    height: 32px;
    width: 32px;
    left: 640px;
    top: 550px;
    border-radius: 0px;
    
    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 550px;
    left:50%; 
    margin-left:-160px   
}
.text5 {
    position: absolute;
    width: 45px;
    height: 22px;
    left: 640px;
    top: 598px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-160px 
}

.block6 {
    height: 118px;
    width: 368px;
    left: 1008px;
    top: 526px;
    border-radius: 12px;
      
    position: absolute;
    width: 368px;
    height: 118px;
    left: 1008px;
    top: 526px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:208px 
}
.img6 {
    height: 32px;
    width: 32px;
    left: 1032px;
    top: 550px;
    border-radius: 0px;       

    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 550px;
    left:50%; 
    margin-left:232px 
}
.text6 {
    position: absolute;
    width: 103px;
    height: 22px;
    left: 1032px;
    top: 598px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:232px 
}


//

.block7 {
    height: 118px;
    width: 368px;
    left: 224px;
    top: 668px;
    border-radius: 12px;       
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 224px;
    top: 668px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:-576px 
}
.img7 {
    height: 32px;
    width: 32px;
    left: 248px;
    top: 692px;
   
    position: absolute;
    width: 32px;
    height: 32px;
    left: 248px;
    top: 692px;
    left:50%; 
    margin-left:-552px
}
.text7 {
    position: absolute;
    width: 182px;
    height: 22px;
    left: 248px;
    top: 740px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-552px   
}

.block8 {
    height: 118px;
    width: 368px;
    left: 616px;
    top: 668px;
    border-radius: 12px;
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 616px;
    top: 668px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:-184px   
}
.img8 {
    height: 32px;
    width: 32px;
    left: 640px;
    top: 692px;
    border-radius: 0px;      

    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 692px;
    left:50%; 
    margin-left:-160px    
}
.text8 {
    position: absolute;
    width: 64px;
    height: 22px;
    left: 640px;
    top: 740px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-160px 
}

.block9 {
    height: 118px;
    width: 368px;
    left: 1008px;
    top: 668px;
    border-radius: 12px;    
    
    position: absolute;
    width: 368px;
    height: 118px;
    left: 1008px;
    top: 668px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    
    left:50%; 
    margin-left:208px 
}
.img9 {
    height: 32px;
    width: 32px;
    left: 1032px;
    top: 692px;
    border-radius: 0px;
             
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 692px;
    
    left:50%; 
    margin-left:232px 
}
.text9 {
    position: absolute;
    width: 69px;
    height: 22px;
    left: 1032px;
    top: 740px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:232px 
}

.block10 {
    height: 118px;
    width: 368px;
    left: 224px;
    top: 810px;
    border-radius: 12px;          

    position: absolute;
    width: 368px;
    height: 118px;
    left: 224px;
    top: 810px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-576px 
}
.img10 {
    height: 32px;
    width: 32px;
    left: 248px;
    top: 834px;
    border-radius: 0px;
    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 248px;
    top: 834px;
    left:50%; 
    margin-left:-552px
}
.text10 {
    position: absolute;
    width: 198px;
    height: 22px;
    left: 248px;
    top: 882px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-552px
}

.block11 {
    height: 118px;
    width: 368px;
    left: 616px;
    top: 810px;
    border-radius: 12px;
            
    position: absolute;
    width: 368px;
    height: 118px;
    left: 616px;
    top: 810px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px   
}
.img11 {
    height: 32px;
    width: 32px;
    left: 640px;
    top: 834px;
    border-radius: 0px;
        
    
    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 834px;
    left:50%; 
    margin-left:-160px   
}
.text11 {
    position: absolute;
    width: 122px;
    height: 22px;
    left: 640px;
    top: 882px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-160px 
}

.block12 {
    height: 118px;
    width: 368px;
    left: 1008px;
    top: 810px;
    border-radius: 12px;    
      
    position: absolute;
    width: 368px;
    height: 118px;
    left: 1008px;
    top: 810px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:208px 
}
.img12 {
    height: 32px;
    width: 32px;
    left: 1032px;
    top: 834px;
    border-radius: 0px;          

    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 834px;
    left:50%; 
    margin-left:232px 
}
.text12 {
    position: absolute;
    width: 129px;
    height: 22px;
    left: 1032px;
    top: 882px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;    
    left:50%; 
    margin-left:232px 
}

//
.block13 {
    height: 118px;
    width: 368px;
    left: 224px;
    top: 952px;
    border-radius: 12px;
                
    position: absolute;
    width: 368px;
    height: 118px;
    left: 224px;
    top: 952px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-576px 
}
.img13 {
    height: 32px;
    width: 32px;
    left: 248px;
    top: 976px;
    border-radius: 0px;

    position: absolute;
    width: 32px;
    height: 32px;
    left: 248px;
    top: 976px;
    left:50%; 
    margin-left:-552px  
}
.text13 {
    position: absolute;
    width: 215px;
    height: 22px;
    left: 248px;
    top: 1024px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-552px
}

.block14 {
    height: 118px;
    width: 368px;
    left: 616px;
    top: 952px;
    border-radius: 12px;
           
    position: absolute;
    width: 368px;
    height: 118px;
    left: 616px;
    top: 952px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px   
}
.img14 {
    height: 32px;
    width: 32px;
    left: 640px;
    top: 976px;
    border-radius: 0px;            

    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 976px;
    left:50%; 
    margin-left:-160px
}
.text14 {
    position: absolute;
    width: 82px;
    height: 22px;
    left: 640px;
    top: 1024px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 22px;
    /* identical to box height, or 163% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-160px
}

.logo_app {
    position: absolute;
    width: 1138px;
    height: 153px;
    left: 231px;
    top: 1238px;
    
    left:50%; 
    margin-left:-576px
}

.why {
    position: absolute;
    width: 1152px;
    height: 456px;
    left: 224px;
    top: 1559px;

    left:50%; 
    margin-left:-576px
}

.logo_block {
    position: absolute;
    width: 1152px;
    height: 104px;
    left: 224px;
    top: 2183px;

    left:50%; 
    margin-left:-576px
}

.multi_maintext {
    height: 96px;
    width: 231px;
    left: 224px;
    top: 2455px;   

    position: absolute;
    width: 231px;
    height: 96px;
    left: 224px;
    top: 2455px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px
}

.multi_text {
    height: 266px;
    width: 760px;
    left: 616px;
    top: 2455px;
     
    position: absolute;
    width: 760px;
    height: 266px;
    left: 616px;
    top: 2455px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-184px
}

.bold {
    font-family: 'Nexa XBold';
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left; 
}

.trans_maintext {
    height: 144px;
    width: 281px;
    left: 224px;
    top: 2809px;

    position: absolute;
    width: 281px;
    height: 144px;
    left: 224px;
    top: 2809px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px
}

.trans_text {
    height: 96px;
    width: 760px;
    left: 616px;
    top: 2809px;
     
    position: absolute;
    width: 760px;
    height: 96px;
    left: 616px;
    top: 2809px;
    
    font-family: 'Nexa Book';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: #161616;
    left:50%; 
    margin-left:-184px
}

.audio_maintext {
    height: 144px;
    width: 256px;
    left: 224px;
    top: 3041px;

    position: absolute;
    width: 256px;
    height: 144px;
    left: 224px;
    top: 3041px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px
}

.audio_text {
    height: 208px;
    width: 760px;
    left: 616px;
    top: 3041px;

    position: absolute;
    width: 760px;
    height: 208px;
    left: 616px;
    top: 3041px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-184px
}

.closed_maintext {
    position: absolute;
    width: 308px;
    height: 48px;
    left: 224px;
    top: 3337px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px
}

.closed_text {
    height: 208px;
    width: 760px;
    left: 616px;
    top: 3337px;

    position: absolute;
    width: 760px;
    height: 208px;
    left: 616px;
    top: 3337px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-184px
}

.table {
    height: 238px;
    width: 1152px;
    left: 224px;
    top: 3713px;
    border-radius: 14px;

    position: absolute;
    width: 1152px;
    height: 238px;
    left: 224px;
    top: 3713px;
    
    background: #ECEDFC;
    border-radius: 14px;

    left:50%; 
    margin-left:-576px
}

.header1 {
    position: absolute;
    width: 58px;
    height: 24px;
    left: 264px;
    top: 3739px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-536px
}

.header2 {
    position: absolute;
    width: 128px;
    height: 24px;
    left: 518px;
    top: 3739px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-282px  
}

.header3 {
    position: absolute;
    width: 177px;
    height: 24px;
    left: 886px;
    top: 3739px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 86px 
}

.line11 {
    position: absolute;
    width: 141px;
    height: 22px;
    left: 264px;
    top: 3800px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-536px
}

.line12 {
    position: absolute;
    width: 107px;
    height: 22px;
    left: 518px;
    top: 3800px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-282px  
    
}

.line13 {
    position: absolute;
    width: 308px;
    height: 22px;
    left: 886px;
    top: 3800px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 86px  
}

.line21 {
    position: absolute;
    width: 96px;
    height: 22px;
    left: 264px;
    top: 3856px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-536px
}

.line22 {
    position: absolute;
    width: 99px;
    height: 22px;
    left: 518px;
    top: 3856px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-282px  
}

.line23 {
    position: absolute;
    width: 321px;
    height: 22px;
    left: 886px;
    top: 3856px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;  
    left:50%; 
    margin-left: 86px   
}

.line31 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 264px;
    top: 3912px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-536px
}

.line32 {
    position: absolute;
    width: 99px;
    height: 22px;
    left: 518px;
    top: 3912px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-282px  
}

.line33 {
    position: absolute;
    width: 321px;
    height: 22px;
    left: 886px;
    top: 3912px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 86px  
}

.add_info {
    position: absolute;
    width: 215px;
    height: 20px;
    left: 636px;
    top: 3801px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    
    /* #383A5E */
    
    color: #383A5E;
    
    opacity: 0.3;
    left:50%; 
    margin-left:-164px  
}

.why_maintext {
    height: 144px;
    width: 350px;
    left: 224px;
    top: 4119px;
 
    
    position: absolute;
    width: 350px;
    height: 144px;
    left: 224px;
    top: 4119px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px
}

.why_text {
    height: 66px;
    width: 760px;
    left: 616px;
    top: 4119px;

    position: absolute;
    width: 760px;
    height: 66px;
    left: 616px;
    top: 4119px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-184px
}

.space_top {
    margin-top: .5rem;
}


.discover {
    position: absolute;
    width: 1040px;
    height: 420px;
    left: 224px;
    top: 4431px;
    left:50%; 
    margin-left:-576px
}

.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 5018px;
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 5394px;
    left:50%; 
    margin-left:-576px
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 5842px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 5992px;
    left:50%; 
    margin-left:-576px
}
