<app-header></app-header>
<div class="maintext">
    <p>Subtitling, closed captions</p>
    <p>and transcription services</p>
</div>
<div class="subtext">
    <p>Videos are becoming an ever-present medium in the digital era, whether it's social media campaigns, video</p>
    <p>tutorials, webinars and much more. Consumers and businesses are constantly creating, watching,</p>
    <p>and sharing more and more video contents.</p>
</div>

<div class="block1"></div>
<img class="img1" src="../../assets/supported/done.svg" alt="">
<div class="text1">E-learning courses</div>
<div class="block2"></div>
<img class="img2" src="../../assets/supported/done.svg" alt="">
<div class="text2">Corporate promotional videos</div>
<div class="block3"></div>
<img class="img3" src="../../assets/supported/done.svg" alt="">
<div class="text3">Video ads</div>

<div class="block4"></div>
<img class="img4" src="../../assets/supported/done.svg" alt="">
<div class="text4">Corporate social media channels</div>
<div class="block5"></div>
<img class="img5" src="../../assets/supported/done.svg" alt="">
<div class="text5">Movies</div>
<div class="block6"></div>
<img class="img6" src="../../assets/supported/done.svg" alt="">
<div class="text6">Documentaries</div>

<div class="block7"></div>
<img class="img7" src="../../assets/supported/done.svg" alt="">
<div class="text7">Video tutorials and lessons</div>
<div class="block8"></div>
<img class="img8" src="../../assets/supported/done.svg" alt="">
<div class="text8">Seminars</div>
<div class="block9"></div>
<img class="img9" src="../../assets/supported/done.svg" alt="">
<div class="text9">Interviews</div>

<div class="block10"></div>
<img class="img10" src="../../assets/supported/done.svg" alt="">
<div class="text10">Medical/scientific transcription</div>
<div class="block11"></div>
<img class="img11" src="../../assets/supported/done.svg" alt="">
<div class="text11">Legal transcription</div>
<div class="block12"></div>
<img class="img12" src="../../assets/supported/done.svg" alt="">
<div class="text12">Police transcription</div>

<div class="block13"></div>
<img class="img13" src="../../assets/supported/done.svg" alt="">
<div class="text13">Video Conferences and meetings</div>
<div class="block14"></div>
<img class="img14" src="../../assets/supported/done.svg" alt="">
<div class="text14">Music videos</div>

<app-logo-app class="logo_app"></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>


<div class="multi_maintext">Multilingual subtitles</div>
<div class="multi_text">
    <p>Translating subtitles, titles, and descriptions of your videos is a very effective way to get your message across to an international audience and boost your site/channel views on a global scale.</p>
    <p class="space_top">Subtitle translation is a technical specialization that requires the skills and experience of expert linguists. They must be able to convey the original message without leaving out any relevant information. In addition to translating the words themselves, subtitlers must adapt the text to the limited number of characters per second (and per line) as well as following spacing rules. There are many factors to be taken into account to ensure that your target audience can easily read and understand your subtitles.</p>
    <p class="space_top bold">What format will I receive my subtitles in?</p>
    <p class="space_top">Subtitles can be provided in .srt, .ssa, .ttml, .sbv, .dfxp, .vtt, .txt, and all the other most commonly used subtitles files.</p>
</div>

<div class="trans_maintext">Transcriptions or closed captions?</div>
<div class="trans_text">
    <p class="bold">What’s the difference?</p>
    <p class="space_top">Transcription is the process in which speech or audio is converted into a written text document, whereas closed caption divides transcript text into into time-coded chunks, known as “caption frames.” While transcription forms the basis for captioning, they each have different use cases.</p>
</div>

<div class="audio_maintext">Audio and video transcription</div>
<div class="audio_text">
    <p>Transcription is the conversion of an audio or video file into text format. Generally, this is a "word</p> 
    <p>for word" or "verbatim" transcription that is 100% faithful to the original recording.</p>
    <p class="space_top">In some special cases, as for example, when creating video subtitles, it is sometimes necessary</p> 
    <p>to produce an "abridged" (not fully word for word) transcription in order to respect the limitations</p>  
    <p>of the space available.</p>
    <p class="space_top">Our expert translators can assess your file and provide you with the type of transcription you need.</p>
    <p class="space_top bold">What format will I receive my audio and video transcriptions in?</p>
    <p class="space_top">We will deliver the transcribed file in your preferred format (Word, .txt), without timestamps.</p>
</div>

<div class="closed_maintext">Closed captions</div>
<div class="closed_text">
    <p>Engage more users by adding closed captions to your videos even when they don’t have the possibility to turn the volume on.</p>
    <p class="space_top">Closed captions are very useful as they allow your audience to fully understand the content and of course to boost your presence on the web, with a positive impact on SEO.</p>
    <p class="space_top">Especially on Social Medias, adding closed captions to your videos increases user views by 12%.</p>
    <p class="space_top bold">What format will I receive my closed captions in?</p>
    <p class="space_top">We will deliver the transcribed file in your preferred format (.srt, .ssa, .ttml, .sbv, .dfxp, .vtt, .txt), with timestamps.</p>
</div>


<div class="table"></div>
    <div class="header1">Service</div>
    <div class="header2">Price per minute</div>
    <div class="header3">Turnover average time</div>

    <div class="line11">Multilingual Subtitles</div>
    <div class="line12">From 10 to 20 €</div>
    <div class="add_info">(accordingly to language and quality)</div>
    <div class="line13">up to 50 min in 2 days, +1 day for each 50 min</div>

    <div class="line21">Transcriptions</div>
    <div class="line22">4 € per minute</div>
    <div class="line23">up to 100 min in 2 days, +1 day for each 100 min</div>

    <div class="line31">Closed Captions</div>
    <div class="line32">6 € per minute</div>
    <div class="line33">up to 100 min in 2 days, +1 day for each 100 min</div>


<div class="why_maintext">Why we are a good fit for your needs?</div>
<div class="why_text">
    <p>We combine advanced artificial intelligence with human editors, for fast, efficient, high-quality translations that get smarter over time. Gettranslation enables consistent multilingual support at scale, so enterprises can build customer trust in every corner of the world.</p>
</div>

<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>