.main {
    position: absolute;
    width: 872px;
    height: 96px;
    left: 364px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-436px   
}

.sub {
    position: absolute;
    height: 184px;
    width: 1152px;
    left: 224px;
    top: 332px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;  
    left:50%; 
    margin-left:-576px   
}

.h1 {
    position: absolute;
    height: 26px;
    width: 136px;
    left: 224px;
    top: 548px;
  
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h2 {
    position: absolute;
    height: 26px;
    width: 245px;
    left: 224px;
    top: 798px;

    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h3 {
    position: absolute;
    height: 26px;
    width: 361px;
    left: 224px;
    top: 1200px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h4 {
    position: absolute;
    height: 26px;
    width: 427px;
    left: 224px;
    top: 1714px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h5 {
    position: absolute;
    height: 26px;
    width: 200px;
    left: 224px;
    top: 2012px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h6 {
    position: absolute;
    height: 26px;
    width: 67px;
    left: 224px;
    top: 2390px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h7 {
    position: absolute;
    height: 26px;
    width: 205px;
    left: 224px;
    top: 2504px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.h8 {
    position: absolute;
    height: 26px;
    width: 118px;
    left: 224px;
    top: 2618px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}

.t1 {
    position: absolute;
    height: 184px;
    width: 1152px;
    left: 224px;
    top: 582px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t2 {
    position: absolute;
    height: 336px;
    width: 1152px;
    left: 224px;
    top: 832px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t3 {
    position: absolute;
    height: 440px;
    width: 1152px;
    left: 224px;
    top: 1242px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t4 {
    position: absolute;
    height: 232px;
    width: 1152px;
    left: 224px;
    top: 1748px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t5 {
    position: absolute;
    height: 312px;
    width: 1152px;
    left: 224px;
    top: 2046px;

    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t6 {
    position: absolute;
    height: 48px;
    width: 1152px;
    left: 224px;
    top: 2424px;
 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    
    left:50%; 
    margin-left:-576px   
}
.t7 {
    position: absolute;
    height: 48px;
    width: 1152px;
    left: 224px;
    top: 2538px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t8 {
    position: absolute;
    height: 48px;
    width: 1152px;
    left: 224px;
    top: 2652px;   
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}

.space_top {
    margin-top: .5rem;
}

.bold {
    font-family: 'Nexa XBold';   
}

.link {
    font-family: 'Nexa XBold';
    color: #4247E5;
}

.download {
    position: absolute;
    width: 69px;
    height: 22px;
    left: 1307px;
    top: 300px;
    background: white;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #4247E5;
    border: none;    
    left:50%; 
    margin-left:507px  
}

.download_img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1283px;
    top: 300px;

    left:50%; 
    margin-left:483px
}

ul {
    margin-left: 1.5rem;
}

ul {
    p {
        margin-left: -1.5rem;
    }
}

.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 2868px;    
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 3244px;
    left:50%; 
    margin-left:-576px
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 3692px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 3842px;
    left:50%; 
    margin-left:-576px
}
