<app-header></app-header>
<div class="main">Disclosure On The Processing Of Translator's Personal Data</div>
<button class="download">Download </button>
<img class="download_img" src="../../assets/disclosure/download.svg" alt="">

<div class="sub">
    <p>With this disclosure on the processing of personal data, provided pursuant to art. 13 of Regulation (EU) 2016/679 (so-called <span class="bold">"GDPR"</span>), BalticLinguaAlliance OÜ, with registered office in Tallinn, Vesivärava tn 50/201, VAT No. EE102173754 (<span class="bold">“Gettranslation”</span> or <span class="bold">“Company”</span>), as Data Controller, provides you with the following information regarding the methods and purposes with and for which it will process your personal data in the context of the collaboration relationship of which you are a part.</p>
    <p class="space_top">The information is provided exclusively for this website (<span class="bold">"Site"</span>), therefore Gettranslation does not assume any responsibility regarding the other websites that may be consulted through hypertext links on the Site. </p>
    <p class="space_top">By using this Site, users accept this information and are therefore invited to view it before providing any kind of personal information.</p>
</div>



<div class="h1">Data Controller</div>
<div class="t1">
    <p>Gettranslation is the data controller of the personal data collected through the platform ("Data Controller").</p>
    <p class="space_top">For certain processing operations, Gettranslation avails itself of employees, agents or collaborators, who are assigned to carry out processing operations under the authority of the Data Controller, as well as partner companies or professional offices that provide assistance and consultancy on accounting, administrative, legal, tax and financial matters located throughout the European Union, which are duly appointed as data processors pursuant to art. 28 of the GDPR.</p>
    <p class="space_top">The updated list of the data processors, as well as the subjects who carry out processing operations under the authority of the Data Controller, is kept at the offices of the same Data Controller.</p>
</div>


<div class="h2">Categories of personal data</div>
<div class="t2">
    <p>Gettranslation will process your personal data collected during the establishment of the collaboration relationship and data collected during said relationship. In particular, Gettranslation will acquire the following types of personal data:</p>
    <ul class="space_top">
        <li>personal data, such as name, surname, place and date of birth;</li>
        <li>contact details, such as residential address, e-mail address, phone number;</li>
        <li>bank details (e.g. IBAN coordinates or SWIFT code, PayPal address);</li>
        <li>data relating to your professional experiences as a translator, your education and your language skills;</li>
        <li>data relating to your reliability and professional performance, such as assessments on the quality of your performance, the daily volume of projects you can manage, the rates you apply to individual language combinations, the work tools you use, your real-time availability;</li>
    </ul>
    <p class="space_top">The provision of the personal data indicated is necessary to allow the establishment and continuation of the collaboration relationship. The Data Controller will not acquire data of a sensitive nature or in any case belonging to the special categories referred to in art. 9 of the GDPR or data relating to criminal convictions or crimes.</p>
    <p class="space_top">The personal data indicated above will be processed by Gettranslation exclusively for the purposes and within the limits indicated in the following paragraph.</p>
</div>

<div class="h3">Purpose and legal basis of the processing</div>
<div class="t3">
    <ul>
    <li class="bold">For the management of the contractual relationship</li>
    <p class="space_top">Gettranslation will use the Data indicated in the previous paragraph 2, numbers 1-3, for purposes strictly connected to the activities related to the contractual relationship of which you are a part. The data will therefore be processed for the execution of the existing contract with the Data Controller.</p>
    <li class="bold space_top">For the assignment of projects</li>
    <p class="space_top">Gettranslation will analyse the Data indicated in the previous paragraph 2, numbers 4-5, in order to create a profile relating to the quality of your performance and your professional reliability. The creation of this profile is essential for the execution of the contractual relationship of which you are a part, as it constitutes the mechanism through which Gettranslation, with the intervention of its project managers, will be able to commission the individual translation and/or interpreting projects. The data will therefore be processed for the execution of the existing contract with the Data Controller.</p>
    <li class="bold space_top">For marketing purposes </li>
    <p class="space_top">If envisaged by the site and subject to your specific consent, Gettranslation may process your data for sending advertising material or commercial communications relating to any promotions or for market research. These communications can be sent using automated systems (e.g. e-mail, SMS, push notifications) and traditional systems (e.g. paper mail).</p>
    <p class="space_top">The data referred to in paragraph 2, numbers 1 and 2 will be used for this purpose.</p>
    <p class="space_top">The consent given can be revoked at any time, even with reference only to automated contact systems, by writing to BalticLinguaAlliance OÜ. </p>
    </ul>
</div>

<div class="h4">Period of data retention and processing duration</div>
<div class="t4">
    <p>Your data will be retained for the entire duration of the contractual relationship with Gettranslation. Following the termination of the relationship, the data will be kept for a period of 10 years exclusively for purposes connected with the protection of the Data Controller's rights and for the fulfilment of legal obligations.</p>
    <p class="space_top">With reference to processing for the assignment of translation and/or interpreting projects indicated in paragraph 3, letter b), we inform you that the data will be processed for a maximum period of 12 months or for a different period that may be established by law or by measures of the Guarantor Authority, except for the possible exercise of your right to object to the processing. After this period or in the event of opposition, the data will be retained, if necessary, for the pursuit of other purposes or will be permanently deleted.</p>
    <p class="space_top">With reference to the processing for marketing purposes indicated in paragraph 3, letter c), we inform you that the data will be processed for the entire duration of the contract unless the consent you have given is revoked or you exercise your right to object to the processing.</p>
</div>

<div class="h5">Rights of data subjects</div>
<div class="t5">
    <p>We inform you that, in accordance with current legislation, you have the following rights:</p>
    <ul class="space_top">
        <li>to request and obtain information regarding the existence of your personal data at the Company and regarding the processing of data carried out by the Company and obtain access to such data;</li>
        <li>to request and obtain the receipt of the personal data you provided to the Company, which are processed by automated means, in a structured format, commonly used and readable by an automatic device; you can also request the transfer of such data to another data controller;</li>
        <li>to request and obtain the modification and/or correction of your personal data if you believe that they are inaccurate or incomplete;</li>
        <li>to request and obtain the cancellation and/or limitation of the processing of your personal data, in the case of unnecessary data or information - or no longer necessary - for the aforementioned purposes, therefore once the retention period indicated in the preceding paragraph has expired.</li>
    </ul>
    <p class="space_top">Such requests can be sent to Gettranslation to the e-mail address in hello@gettranslation.io, or sent by post to BalticLinguaAlliance OÜ, Vesivärava tn 50/201, 10152 Tallinn, Estonia.</p>
    <p class="space_top">Finally, we inform you that pursuant to current regulations, you can make any complaints regarding the processing of your personal data to the Guarantor for the protection of personal data.</p>
</div>

<div class="h6">Cookies</div>
<div class="t6">
    To make browsing easier and more intuitive, Gettranslation uses cookie technology. For more information, see our <a class="link" [routerLink]="['/policy']">Policy on the use of cookies</a>, which is an integral part of this document. 
</div>

<div class="h7">Data Protection Officer</div>
<div class="t7">
    Gettranslation has appointed Mr Michael Hofmann as its Data Protection Officer (<span class="bold">"DPO"</span>) pursuant to art. 37 of the GDPR. The DPO can be contacted via e-mail at the address <a class="link" href="mailto:dpo@gettranslation.io.">dpo@gettranslation.io.</a>
</div>

<div class="h8">Modifications</div>
<div class="t8">
    Gettranslation reserves the right to modify or simply update the content of this a Privacy Policy, in whole or in part. Gettranslation will inform you of these changes as they are introduced.
</div>

<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>