<div class="whychoose_section">
    <div class="naming_section">
        <h2 class="title_whychoose">{{ 'whychoose.title' | translate }}</h2>
        <p class="description_whychoose">{{ 'whychoose.description' | translate }}</p>
    </div>

    <div class="content_section">
        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (2).svg" alt="">
            <div class="card_description">
                <div class="card_text">{{ 'whychoose.card_text1' | translate }}</div>
                <p class="card_subtext"> {{ 'whychoose.card_subtext1' | translate }} </p>
                <a [routerLink]="['/terms']" class="card_link">{{ 'whychoose.card_link' | translate }}</a>
            </div>
        </div>

        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (3).svg" alt="">
            <div class="card_description">
                <div class="card_text">{{ 'whychoose.card_text2' | translate }}</div>
                <div class="card_subtext">{{ 'whychoose.card_subtext2' | translate }}</div>
                <a [routerLink]="['/terms']" class="card_link">{{ 'whychoose.card_link' | translate }}</a>
            </div>
        </div>

        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (4).svg" alt="">
            <div class="card_description">
                <div class="card_text">{{ 'whychoose.card_text3' | translate }}</div>
                <p class="card_subtext">{{ 'whychoose.card_subtext3' | translate }}</p>
                <a [routerLink]="['/terms']" class="card_link">{{ 'whychoose.card_link' | translate }}</a>
            </div>
        </div>
    </div>
</div>