@import '../../../responsive.scss';

.whychoose_section {
    display: flex;
    margin: 0;
    justify-content: space-between;
    max-width: 1168px;
    margin: 0px auto 160px;

    @include desktop-down {
        margin: 0px 64px 160px;
    }

    @include tablet-landscape-down {
        margin: 0 48px 140px;
        flex-direction: column;
    }

    @include tablet-portrait-down {
        margin: 0 32px 144px;
    }    
    @include mobile-only {
        margin: 0 24px 144px;
    }
}

.naming_section {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 32px 0;
    }
}

.content_section {
    display: flex;
    flex-direction: column;
    margin: 0;

    @include tablet-landscape-down {
        flex-direction: row;
    }
    @include tablet-portrait-down {
        flex-direction: column;
    }
}

.title_whychoose {
    display: flex;
    margin: 0 0 10px 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;

    color: #161616;
    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}

.description_whychoose {
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include tablet-landscape-down {
        font-size: 16px;
        line-height: 22px;
    }

}

.card_whychoose {
    display: flex;
    align-items: center;
    min-height: 168px;
    max-width: 760px;
    width: 100%;
    border-radius: 12px;
    padding: 24px 32px;

    background: #FFFFFF;
    box-shadow: 0 4px 14px #b4bbcf26;
    border-radius: 12px;
    margin: 0 0 24px 0;

    @include tablet-landscape-down {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 14px 0 0;
    }
    @include tablet-portrait-down {
        margin: 0  0 16px 0;
        max-width: 327px;
    }
    @include mobile-only{
        padding: 24px;
    }
}

.card_icon {
    height: 72px;
    width: 72px;
    margin-right: 24px;

    border-radius: 0px;

    @include tablet-landscape-down {
        margin: 0 0 16px 0;
    }
    @include tablet-portrait-down {
        margin-right: 24px;
    }
}

.card_description {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.card_text {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.card_subtext {
    margin: 0 0 6px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include tablet-landscape-down {
        font-size: 12px;
        line-height: 18px;
    }    
    @include tablet-portrait-down {
        font-size: 14px;
        line-height: 20px;
    }
}

.card_link {
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    color: #4247E5;
    margin: 0;
}