<app-header></app-header>
<div class="maintext">
    Official translations
</div>
<div class="subtext">
    <p>Gettranslation offers a certified translation service in all language combinations, whereas the sworn translation service is only available for certain languages and countries.</p>
    <p class="space_top">In addition to the price of the translation, which is about €50 - £40 per page, official services</p>
    <p>are priced as follows:</p>
</div>

<div class="table"></div>
<div class="header1">Sworn Translations</div>
<div class="add1">(Estonia)</div>

<div class="header2">Sworn Translations</div>
<div class="add2">(Other countries)</div>

<div class="header3">Certified Translation</div>

<div class="line10">Translation</div>
<div class="line11">€50 - £40/page</div>
<div class="line12">€50 - £40/page</div>
<div class="line13">€50 - £40/page</div>

<div class="line20">Service fee</div>
<div class="line21">€80 - £65</div>
<div class="line22">€10 - £8</div>
<div class="line23">€20 - £15</div>
<div class="add3">(or 3% of the translation cost for orders above €500 -£400)</div>

<div class="line30">Shipping</div>
<div class="line31">€10 - £8</div>
<div class="line32">€10 - £8</div>
<div class="line33">€10 - £8</div>
<div class="add4">(optional)</div>

<div class="line40">Fiscal stamps</div>
<div class="line41">€18 - £14</div>
<div class="add5">(one every 4 pages)</div>
<div class="line42">/</div>
<div class="line43">/</div>

<div class="line50">Total price</div>
<div class="line51">€108 - £127</div>
<div class="line52">€20 - £15</div>
<div class="line53">€30 - £24</div>

<div class="info">
    <p>Prices are indicative, and will be confirmed based on translators’ availability, language combination, volume of content to be translated, urgency of the request, and shipping</p>
    <p>destination of the hard copy.</p> 
</div>



<div class="how_main">How to get a quote</div>
<div class="how_sub">
    <p>You can contact us via the online form, or send an email to <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a>. You should send us a scan or photo (as long as it can easily be read) of the documents you need to translate (see our <a class="link" [routerLink]="['/privacy']">Privacy Policy</a>). If you need</p>
    <p>a sworn translation, in addition to the documents, we need the following information in order to calculate a quote:</p>
</div>

<div class="how1"></div>
<img class="how_img1" src="../../assets/done.svg" alt="">
<div class="how_text1">The country the documents must be presented in</div>
<div class="how_sub1">
    <p>We must select a sworn translator in the country where you have to present</p>
    <p>the translated documents.</p>
</div>

<div class="how2"></div>
<img class="how_img2" src="../../assets/done.svg" alt="">
<div class="how_text2">The language they must be translated into</div>
<div class="how_sub2">We will select a native translator of the target language to ensure an accurate translation.</div>

<div class="how3"></div>
<img class="how_img3" src="../../assets/done.svg" alt="">
<div class="how_text3">Any specific instructions</div>
<div class="how_sub3">Different authorities and institutions have different requirements, and most of the time they clearly specify the type of translations they are willing to accept. In this case, please inform us beforehand so that we can prepare a correct quote.</div>

<app-logo-app class="logo_app"></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>

<!-- <div class="accuracy">
    <div class="accuracy_maintext">
        <p>Accuracy starts</p>
        <p>with processes</p>
    </div>
    <div class="accuracy_block"></div>
    <img class="accuracy_img" src="../../assets/icon (1).svg" alt="">
    <div class="accuracy_text">
        <p>We are helping the world become more connected by offering expert human translations</p>
        <p>provided by native speakers, certified professionals, and cutting-edge technology</p>
        <p>to enable you communicate more clearly.</p>
    </div>
    <a class="accuracy_link">Production Process</a>
</div> -->

<div class="frequently">Frequently Asked Questions</div>
<div class="l1"></div>
<div class="t1">What is an official translation?</div>
<img class="i1" src="../../assets/Frame 15.svg" alt="">

<div class="l2"></div>
<div class="t2">What are the prices and turn-around times?</div>
<img class="i2" src="../../assets/Frame 15.svg" alt="">

<div class="l3"></div>
<div class="t3">Is it possible to certify a document that has already been translated?</div>
<img class="i3" src="../../assets/Frame 15.svg" alt="">

<div class="l4"></div>
<div class="t4">Is a sworn translation in one country valid for all other countries?</div>
<img class="i4" src="../../assets/Frame 15.svg" alt="">

<div class="l5"></div>
<div class="t5">Do you provide legalization services?</div>
<img class="i5" src="../../assets/Frame 15.svg" alt="">

<div class="l6"></div>

<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>