<div class="profservices_container">
    <div class="maintext">{{ 'home.our_maintext' | translate }}</div>

    <div class="blocks">
        <a class="block" [routerLink]="['/website-localization']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-7.svg" alt="">
                <p class="text">{{ 'home.our_text1' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext1' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/adwords-localization']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-1.svg" alt="">
                <p class="text">{{ 'home.our_text2' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext2' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/transcription-subtitle-translation']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-2.svg" alt="">
                <p class="text">{{ 'home.our_text3' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext3' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/web-software-localization']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-3.svg" alt="">
                <p class="text">{{ 'home.our_text4' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext4' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/multilingual-dtp-services']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-4.svg" alt="">
                <p class="text">{{ 'home.our_text5' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext5' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/sworn-certified-official-translation']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-5.svg" alt="">
                <p class="text">{{ 'home.our_text6' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext6' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/custom-localization-solutions']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-6.svg" alt="">
                <p class="text">{{ 'home.our_text7' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext7' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/multilingual-chatbot-services']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-7.svg" alt="">
                <p class="text">{{ 'home.our_text8' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext8' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/urgent-translations']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-7.svg" alt="">
                <p class="text">{{ 'home.our_text9' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext9' | translate }}
            </div>
        </a>
        <a class="block" [routerLink]="['/website-localization']">
            <div class="mob-flex">
                <img class="img" src="../../assets/our services/icon-9.svg" alt="">
                <p class="text">{{ 'home.our_text10' | translate }}</p>
            </div>
            <div class="subtext">
                {{ 'home.our_subtext10' | translate }}
            </div>    
        </a>
    </div>
</div>

