<app-header></app-header>
<div class="main_text">Excellence starts with processes</div>
<div class="main_subtext">
    <p>We work hard to make translation services more effective, powering our production processes</p>
    <p>with great technologies and talented people.</p>
</div>

<div class="main1">Translator selection</div>
<div class="subtext1">The quality of a translation depends on the quality of the process, starting from the choice of translator.</div>
<div class="block1"></div>
<img class="img1" src="../../assets/done.svg" alt="">
<div class="text1">We are a leading firm in providing quality and value to our customers. Each member of our team has at least 5 years of legal experience.</div>
<div class="block2"></div>
<img class="img2" src="../../assets/done.svg" alt="">
<div class="text2">Customer-specific training and translation tests based on an objective evaluation matrix conducted by Gettranslation reviewers that have a “trusted” status.</div>
<div class="block3"></div>
<img class="img3" src="../../assets/done.svg" alt="">
<div class="text3">Continuous quality feedback and training by reviewers and PMs on each job, which ultimately determines each translator's score.</div>


<div class="main2">Project management</div>
<div class="subtext2">We automate all repetitive processes so that we can have more time for tasks where human judgement is fundamental.</div>
<div class="block4"></div>
<img class="img4" src="../../assets/done.svg" alt="">
<div class="text4">
    <p>Automated project creation, from file processing, to the creation of project instructions,</p>
    <p>to translator selection.</p>
</div>
<div class="block5"></div>
<img class="img5" src="../../assets/done.svg" alt="">
<div class="text5">
    <p>Project Managers can intervene whenever necessary, particularly in the choice</p>
    <p>of translators and revisers.</p>
</div>
<div class="block6"></div>
<img class="img6" src="../../assets/done.svg" alt="">
<div class="text6">A smart management system informs PMs of any unforeseen glitches, such as an anticipated late delivery, allowing them to take prompt action.</div>



<div class="main3">Quality control</div>
<div class="subtext3">Technology helps our reviewers assess the work of translators, while keeping our prices accessible.</div>
<div class="block7"></div>
<img class="img7" src="../../assets/done.svg" alt="">
<div class="text7">While translators work, a real-time QA check is performed for: spelling, glossary, untranslatable text, locale matching, formatting, and white and double spaces.</div>
<div class="block8"></div>
<img class="img8" src="../../assets/done.svg" alt="">
<div class="text8">When the work is completed, a professional reviser checks for spelling, grammar, terminology, style, and translation errors.</div>
<div class="block9"></div>
<img class="img9" src="../../assets/done.svg" alt="">
<div class="text9">
    <p>For Premium projects, the reviser performs a full review of the text, adding an extra layer</p>
    <p>of quality control.</p>
</div>


<div class="main4">Final delivery</div>
<div class="subtext4">A well-established process lets us always guarantee timely deliveries.</div>
<div class="block10"></div>
<img class="img10" src="../../assets/done.svg" alt="">
<div class="text10">
    <p>The Project Manager makes sure that the layout of the files has been preserved correctly,</p>
    <p>that all the files are correctly renamed, and that there are no pending QA notifications.</p>
</div>
<div class="block11"></div>
<img class="img11" src="../../assets/done.svg" alt="">
<div class="text11">
    <p>After this check, the Project Manager takes care of the finishing touches, and prepares</p>
    <p>all the documents in a single delivery package.</p>
</div>
<div class="block12"></div>
<img class="img12" src="../../assets/done.svg" alt="">
<div class="text12">
    Customer support is provided by the same PM after project delivery, or by contacting <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a>.
</div>

<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>