<app-header></app-header>
<div class="chatbot_container">
    <h1 class="title">{{ 'chatbot_service.title' | translate }}</h1>
    <div class="description">
        <p>{{ 'chatbot_service.description' | translate }}</p>
    </div>
</div>

<div class="question_make_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'chatbot_service.make_title' | translate }}</h3>
    </div>

    <div class="question_content">
        <p class="question_subtext">{{ 'chatbot_service.make_description' | translate }}</p>
    </div>
</div>

<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<div class="solutions_container">
    <h3 class="solutions_title">{{ 'chatbot_service.solution_maintext' | translate }}</h3>

    <div class="solution_cards">
        <div class="solution_card">
            <img class="solution_icon" src="../../assets/chatbot/icon (5).svg" alt="">
            <div class="benefit_descr">
                <p class="benefit_text">{{ 'chatbot_service.solution_title1' | translate }}</p>
                <a [routerLink]="['/quote']" class="link">{{ 'chatbot_service.solution_link1' | translate }}</a>
                <p class="benefit_subtext">{{ 'chatbot_service.solution_text1' | translate }}
                    <a class="link" href="https://www.modernmt.com" target="_blank">
                        {{ 'chatbot_service.solution_sublink1' | translate }}
                    </a>
                    {{ 'chatbot_service.solution_subtext1' | translate }}
                </p>
            </div>
        </div>
        <div class="solution_card">
            <img class="solution_icon" src="../../assets/chatbot/icon (6).svg" alt="">
            <div class="benefit_descr">
                <p class="benefit_text">{{ 'chatbot_service.solution_title2' | translate }}</p>
                <a [routerLink]="['/quote']" class="link">{{ 'chatbot_service.solution_link2' | translate }}</a>
                <p class="benefit_subtext">{{ 'chatbot_service.solution_text2' | translate }}
                    <a class="link" href="https://www.modernmt.com" target="_blank">
                        {{ 'chatbot_service.solution_sublink2' | translate }}
                    </a>
                    {{ 'chatbot_service.solution_subtext2' | translate }}
                </p>
            </div>
        </div>
        <div class="solution_card">
            <img class="solution_icon" src="../../assets/chatbot/icon (7).svg" alt="">
            <div class="benefit_descr">
                <p class="benefit_text">{{ 'chatbot_service.solution_title3' | translate }}</p>
                <a [routerLink]="['/quote']" class="link">{{ 'chatbot_service.solution_link3' | translate }}</a>
                <p class="benefit_subtext">{{ 'chatbot_service.solution_text3' | translate }}
                    <a class="link" href="https://www.modernmt.com" target="_blank">
                        {{ 'chatbot_service.solution_sublink3' | translate }}
                    </a>
                    {{ 'chatbot_service.solution_subtext3' | translate }}
                </p>
            </div>
        </div>
    </div>
    <button [routerLink]="['/contact']" class="solution_btn">Contact us</button>

</div>

<div class="framework_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'chatbot_service.framework_title' | translate }}</h3>
    </div>
    <div class="framework_content">
        <div class="img_content">
            <img class="framework_img" src="../../assets/chatbot/logo 1.svg" alt="">
            <img class="framework_img" src="../../assets/chatbot/logo 2.svg" alt="">
            <img class="framework_img" src="../../assets/chatbot/logo 3.svg" alt="">
        </div>
        <div class="img_content">
            <img class="framework_img" src="../../assets/chatbot/logo 4.svg" alt="">
            <img class="framework_img" src="../../assets/chatbot/logo 5.svg" alt="">
            <img class="framework_img" src="../../assets/chatbot/logo 6.svg" alt="">
        </div>

    </div>
</div>

<div class="about_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'chatbot_service.about_title' | translate }}</h3>
    </div>

    <div class="about_points">
        <p class="point_subtext">{{ 'chatbot_service.about_subtext1' | translate }}</p>
        <p class="point_subtext">{{ 'chatbot_service.about_subtext2' | translate }}</p>
        <p class="point_subtext">{{ 'chatbot_service.about_subtext3' | translate }}</p>
        <p class="point_subtext">{{ 'chatbot_service.about_subtext4' | translate }}</p>
        <p class="point_subtext">{{ 'chatbot_service.about_subtext5' | translate }}</p>
        <div class="point_content">
            <p class="point_text">{{ 'chatbot_service.about_text1' | translate }}</p>
            <p class="point_subtext regular">{{ 'chatbot_service.about_quote1' | translate }} 
                <span class="bold_italic"> {{ 'chatbot_service.about_author1' | translate }}</span>
            </p>
            <p class="point_subtext">{{ 'chatbot_service.about_subtext11' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'chatbot_service.about_text2' | translate }}</p>
            <p class="point_subtext regular">{{ 'chatbot_service.about_quote2' | translate }} 
                <span class="bold_italic"> {{ 'chatbot_service.about_author2' | translate }}</span>
            </p>
            <p class="point_subtext">{{ 'chatbot_service.about_subtext21' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'chatbot_service.about_text3' | translate }}</p>
            <p class="point_subtext">{{ 'chatbot_service.about_subtext31' | translate }}</p>
            <p class="point_subtext">{{ 'chatbot_service.about_subtext32' | translate }}</p>
        </div>
    </div>
</div>

<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>