

@import '../../responsive.scss';

.chatbot_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px 56px;

    @include desktop-down {
        margin: 96px 64px 56px;
    }

    @include tablet-landscape-down {
        margin: 96px 48px 80px;
    }

    @include tablet-portrait-down {
        margin: 56px 32px 80px;
    }

    @include mobile-only {
        margin: 48px 24px 80px;
    }
}
.title {
    max-width: 452px;
    margin: 0 0 16px 0;
  
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    text-align: center;
    color: #161616;
}

.description {
    max-width: 760px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    
    color: #180A24;   
}

.question_make_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 140px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}
.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}

.question_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}
.question_content {
    display: flex;
    flex-direction: column;

    margin: 0;
    max-width: 780px;
    width: 100%;
    color: #161616;

    @include tablet-landscape-down {
        align-items: flex-start;
        max-width: 100%;
    }
}
.question_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}

//Solutions
.solutions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
        align-items: flex-start;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}
.solutions_title {    
    display: flex;
    margin: 0 0 32px 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    color: #161616;
    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}

.solution_cards {
    display: flex;
    margin: 0;
    @include tablet-portrait-down {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.solution_card {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 360px;
    width: 100%;

    border-radius: 12px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    margin: 0 24px 0 0;
    @include tablet-landscape-down {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 14px 0 0;
    }
    @include tablet-portrait-down {
        margin: 0  0 16px 0;
        max-width: 327px;
    }
}

.solution_icon {
    height: 72px;
    width: 72px;
    margin: 0 0 16px 0;

    @include tablet-landscape-down {
        margin: 0 0 12px 0;
    }
    @include tablet-portrait-down{
        margin: 0 0 16px 0;
    }
}

.benefit_descr {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.benefit_text {
    margin: 0 0 6px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.benefit_subtext {
    margin: 0 0 6px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    @include tablet-landscape-down {
        font-size: 12px;
        line-height: 18px;
    }    
    @include tablet-portrait-down {
        font-size: 14px;
        line-height: 20px;
    }
}

.solution_btn{
    min-width: 148px;
    width: auto;
    height: 48px;

    background: #4247E5;
    border-radius: 12px;
    border: 0;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
    padding: 12px 32px;
    margin: 32px 0 0 0;
    @include tablet-landscape-down{
        display: none;
    }
}

.solution_btn:hover {
    background: #3135CD;
}

.link {
    font-family: 'Nexa XBold';
    font-size: 14px;
    line-height: 22px;
    color: #4247E5;
    margin: 6px 0 0 0;
}

//Frameworks
.framework_container{
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
        align-items: flex-start;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}
.framework_content{
    display: flex;
    margin: 0;
    width: 100%;
    @include tablet-landscape-down{
        flex-wrap: wrap;
    }
}
.framework_img{
    width: 100px;
    height: 100px;
    @include desktop-down{
        width: 80px;
        height: 80px; 
    }
    @include tablet-landscape-down{
        width: 100px;
        height: 100px;
    }

}
.img_content{
    margin: 0;
    display: flex;
    width: 100%;
}

.space_top {
    margin-top: .5rem;
}


.link {
    font-family: 'Nexa XBold';
    color: #4247E5;
}

//About

.about_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}


.about_points {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 780px;

    @include tablet-landscape-down{
        max-width: 100%;
    }
}


.point_content {
    display: flex;
    flex-direction: column;

    @include tablet-landscape-down {
        align-items: flex-start;
        margin: 0 14px 0 0;
    }
}

.point_text {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.point_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}

.bold {
    font-family: 'Nexa XBold';   
}

.regular {
    font-family: 'Nexa Regular Italic' !important;   
}

.bold_italic {
    font-family: 'Nexa XBold Italic';
    font-weight: 800;
}