@import '../../responsive.scss';

.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    height: auto;
    margin: 96px auto 0px;

    @include desktop-down {
        margin: 96px 64px 140px;
    }

    @include tablet-landscape-down {
        margin: 69px 64px 140px;
    }

    @include tablet-portrait-down {
        margin: 48px 24px 120px;
        flex-wrap: wrap;
        height: auto;
    }

    @include mobile-only {
        margin: 48px 24px 120px;
    }
}

.banner_container {
    width: 100%;
    margin: 0;
    @include tablet-landscape-down {
        max-width: 303px;
    }
    @media (max-width: 804px)  {
        max-width: 300px;
    }   
    @include tablet-portrait-down {
        max-width: 100%;
    }    
    @include mobile-only {
        max-width: 360px;
    }
}

.banner_text {
    height: auto;
    margin-top: 30px;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-size: 76px;
    line-height: 78px;
    color: #161616;
    @include desktop-down{
        font-size: 62px;
        line-height: 70px;
    }
    @include tablet-landscape-down {
        font-size: 48px;
        line-height: 52px;
    }
    @media (max-width: 775px)  {
        font-size: 46px;
        line-height: 50px;
    }
    @include tablet-portrait-down{
        height: auto;
        font-size: 48px;
        line-height: 52px;
        margin-top: 48px;
        word-wrap: break-word;
    }
}

.banner_subtext {
    margin-top: 16px;
    height: auto;

    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
    @include tablet-landscape-down{
        font-size: 14px;
        line-height: 20px;
    }

    @include tablet-portrait-down{
        height: auto;
        margin-top: 10px;
    }
}


.buttons {
    margin: 24px 0 0 0;
    @include tablet-portrait-down{
        display: flex;
        margin: 0;
    }    
    @include tablet-portrait-down{
        display: flex;
        margin: 0;
    }
}

.btn_instant {
    width: auto;
    height: 48px;
    padding: 0 35.5px;

    background: #4247E5;
    border-radius: 12px;

    border: none;
    color: #FFFFFF;

    font-family: 'Nexa XBold';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    @include tablet-landscape-down{
        padding: 12px 32px;
    }
    @include tablet-portrait-down{
        margin: 20px 0 0 0;
        padding: 12px 26px;
        width: auto;
        margin-right: 8px;
    }
}

.btn_instant:hover {
    background: #3135CD;
}

.btn_about {
    margin-left: 24px;
    width: 172px;
    height: 48px;

    background: #ECEDFC;
    border: none;
    color: #4247E5;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-size: 16px;

    line-height: 24px;
    letter-spacing: 0em;
    @include tablet-landscape-down{
        margin-left: 16px;
        width: 166px;
    }    
    @include tablet-portrait-down{
        margin: 20px 0 0 16px;
        padding: 12px 27px;
        width: auto;
    }
}

.btn_about:hover {
    border: 1px solid #4247E5;
}

.illustration_cont {
    display: flex;
    margin-left: 37px;
    max-width: 588px;
    width: 100%;
    height: 512px;

    @include desktop-down {
        max-width: 420px;
        height: unset;
    }

    @include tablet-landscape-down {
        max-width: 306px;  
        margin: 0 0 0 20px;

    }
    @media (max-width: 804px)  {
        max-width: 280px;
    }

    @include tablet-portrait-down {
        max-width: 100%;
        height: 284px;
        margin-top: 34px;
    }

    @include mobile-only {
        max-width: 327px;
        margin: 34px 0 0 0;
    }
}

.illustration {
    width: 100%;
    height: auto;
    
}


.accuracy_container {
    max-width: 1168px;
    height: auto; 
    margin: 0 auto 120px;
    display: flex;
    justify-content: space-between;
    @include desktop-down {
        margin: 0 64px 140px;
    }
    @include tablet-landscape-down {
        margin: 0 48px 120px;
        flex-direction: column; 
    }
    @include tablet-portrait-down {
        margin: 0 32px 140px;
    }
}

.accuracy_maintext {
    display: flex;
    max-width: 308px;
    font-family: 'Nexa Heavy';
    font-size: 40px;
    line-height: 48px;
    margin: 0 32px 0 0;
    @include tablet-landscape-down{
        margin: 0 0 32px 0;
        max-width: 99%;
        font-size: 36px;
        line-height: 44px; 
    }
}

.accuracy_block {
    display: flex;
    align-items: center;

    max-width: 760px;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    padding: 32px;
    margin: 0;
    @include tablet-landscape-down{
       padding: 24px;
       align-items: flex-start;
       flex-direction: column;
    }
    @include tablet-portrait-down{
        flex-direction: column;
    }
}

.accuracy_img {
    height: 72px;
    width: 72px;
    @include tablet-landscape-down{
        margin: 0 0 14px 0;
    }    
    @include tablet-landscape-down{
        margin: 0 0 16px 0;
    }    
}

.accuracy_column {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    @include tablet-landscape-down{
        margin: 0;
     }  
}

.accuracy_text {
    font-family: 'Nexa Book';
    font-size: 14px;
    line-height: 20px;
}

.accuracy_link {
    font-family: 'Nexa XBold';
    font-size: 14px;
    line-height: 22px;
    color: #4247E5;
    margin: 6px 0 0 0;
    @include tablet-portrait-down{
        margin-top: 4px;
    }
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 4735px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 4885px;

    left:50%; 
    margin-left:-576px
}