<div class="clients_container">
    <a [routerLink]="['/сase-studies']">
        <div class="review_container">
            <img class="review_avatar" src="../../assets/review/avatar.png" alt="">
            <img class="review_logo" src="../../assets/review/logo.png" alt="">
            <div class="review_text">{{ 'home.review_text' | translate }}</div>
            <div class="review_subtext">{{ 'home.review_subtext' | translate }}</div>
            <div class="review_desc">{{ 'home.review_desc' | translate }}</div>
        </div>
    </a>
    <div class="cta">
        <div class="cta_text">{{ 'home.cta_text' | translate }}</div>
        <div class="cta_subtext">{{ 'home.cta_subtext' | translate }}</div>
        <a [routerLink]="['/сase-studies']" class="cta_link link_hover">{{ 'home.cta_link' | translate }}</a>
    </div>
</div>

