<app-header></app-header>
<div class="maintext">
    Professional translation services
</div>
<div class="subtext">
    40 areas of expertise. 71 file formats. 194 languages.
</div>

<app-our-professional class="our_professional"></app-our-professional>


<div class="case">Case studies</div>
<div class="block1"></div>
<img class="img1" src="../../assets/form/done.svg" alt="">
<div class="text1">Marketing</div>
<ul class="list1">
    <li>Communications</li>
    <li>Advertising</li>
    <li>SEO/SEM</li>
    <li>Journalism</li>
</ul>


<div class="block2"></div>
<img class="img2" src="../../assets/form/done.svg" alt="">
<div class="text2">Business</div>
<ul class="list2">
    <li>Economics</li>
    <li>Insurance</li>
    <li>Finance</li>
    <li>Accountancy</li>
    <li>Legal</li>
</ul>

<div class="block3"></div>
<img class="img3" src="../../assets/form/done.svg" alt="">
<div class="text3">Technology</div>
<ul class="list3">
    <li>Internet</li>
    <li>Telecommunications</li>
    <li>Computing</li>
    <li>Information technology</li>
    <li>Video games</li>
</ul>

<div class="block4"></div>
<img class="img4" src="../../assets/form/done.svg" alt="">
<div class="text4">Industrial</div>
<ul class="list41">
    <li>Mechanical</li>
    <li>Cosmetic</li>
    <li>Energy</li>
    <li>Aerospace</li>
    <li>Automotive</li>
</ul>
<ul class="list42">
    <li>Electronics</li>
    <li>Pharmaceutical</li>
    <li>Electrical</li>
    <li>Maritime</li>
    <li>Tourism</li>
</ul>

<div class="block5"></div>
<img class="img5" src="../../assets/form/done.svg" alt="">
<div class="text5">Culture</div>
<ul class="list51">
    <li>Art</li>
    <li>Fashion</li>
    <li>History</li>
    <li>Archeology</li>
    <li>Literature</li>
</ul>
<ul class="list52">
    <li>Music</li>
    <li>Religion</li>
    <li>Cuisine</li>
</ul>

<div class="block6"></div>
<img class="img6" src="../../assets/form/done.svg" alt="">
<div class="text6">Science</div>
<ul class="list61">
    <li>Medicine</li>
    <li>Physics</li>
    <li>Chemistry</li>
    <li>Biology</li>
    <li>Mathematics</li>
</ul>
<ul class="list62">
    <li>Architecture</li>
    <li>Environment</li>
    <li>Social sciences</li>
</ul>




<app-embrace class="embrace"></app-embrace>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>