.maintext {
    position: absolute;
    width: 638px;
    height: 48px;
    left: 481px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-319px
}

.subtext {
    position: absolute;
    width: 353px;
    height: 20px;
    left: 623.5px;
    top: 244px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-176.5px
}

.our_professional {
    position: absolute;
    width: 1152px;
    height: 1246px;
    left: 224px;
    top: 320px;

    left:50%; 
    margin-left:-576px
}


.case {
    position: absolute;
    width: 246px;
    height: 48px;
    left: 224px;
    top: 1734px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #161616;
    
    left:50%; 
    margin-left:-576px
}

.embrace {
    position: absolute;
    width: 1040px;
    height: 420px;
    left: 223.5px;
    top: 2526px;
    left:50%; 
    margin-left:-576px
}

.block1 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 616px;
    top: 1734px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px 
}
.block2 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 1008px;
    top: 1734px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;

    left:50%; 
    margin-left: 208px 
}
.block3 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 616px;
    top: 1950px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;

    left:50%; 
    margin-left:-184px 
}
.block4 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 1008px;
    top: 1950px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:208px 
}
.block5 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 616px;
    top: 2166px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:-184px 
}
.block6 {
    position: absolute;
    width: 368px;
    height: 192px;
    left: 1008px;
    top: 2166px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    left:50%; 
    margin-left:208px 
}

.img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 1758px;
  
    left:50%; 
    margin-left:-160px 
}
.img2 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 1758px;    
  
    left:50%; 
    margin-left:232px 
}
.img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 1974px;
  
    left:50%; 
    margin-left:-160px 
}
.img4 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 1974px;
  
    left:50%; 
    margin-left:232px 
}
.img5 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 640px;
    top: 2190px;    
  
    left:50%; 
    margin-left:-160px 
}
.img6 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1032px;
    top: 2190px;
  
    left:50%; 
    margin-left:232px 
}

.text1 {
    position: absolute;
    width: 90px;
    height: 26px;
    left: 686px;
    top: 1761px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-114px    
}
.text2 {
    position: absolute;
    width: 77px;
    height: 26px;
    left: 1078px;
    top: 1761px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:278px    
}
.text3 {
    position: absolute;
    width: 98px;
    height: 26px;
    left: 686px;
    top: 1977px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;    
    left:50%; 
    margin-left:-114px    
}
.text4 {
    position: absolute;
    width: 85px;
    height: 26px;
    left: 1078px;
    top: 1977px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;    
    left:50%; 
    margin-left:278px    
}
.text5 {
    position: absolute;
    width: 65px;
    height: 26px;
    left: 686px;
    top: 2193px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;    
    left:50%; 
    margin-left:-114px    
}
.text6 {
    position: absolute;
    width: 67px;
    height: 26px;
    left: 1078px;
    top: 2193px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
    left:50%; 
    margin-left:278px    
}

.list1 {
    position: absolute;
    width: 134px;
    height: 80px;
    left: 632px;
    top: 1804px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-146px    
}

.list2 {
    position: absolute;
    width: 109px;
    height: 100px;
    left: 1024px;
    top: 1804px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 246px    
}

.list3 {
    position: absolute;
    width: 177px;
    height: 100px;
    left: 632px;
    top: 2020px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-146px    
}
.list41 {
    position: absolute;
    width: 99px;
    height: 100px;
    left: 1024px;
    top: 2020px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    
    left:50%; 
    margin-left: 246px    
}
.list42 {
    position: absolute;
    width: 128px;
    height: 100px;
    left: 1192px;
    top: 2020px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;

    left:50%; 
    margin-left: 370px    
}
.list51 {
    position: absolute;
    width: 97px;
    height: 100px;
    left: 632px;
    top: 2236px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-146px    
}
.list52 {
    position: absolute;
    width: 74px;
    height: 60px;
    left: 800px;
    top: 2236px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 22px    
}

.list61 {
    position: absolute;
    width: 109px;
    height: 100px;
    left: 1024px;
    top: 2236px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 246px     
}

.list62 {
    position: absolute;
    width: 122px;
    height: 60px;
    left: 1192px;
    top: 2236px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 370px      
}

.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 3114px;
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 3490px;
    left:50%; 
    margin-left:-576px
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 3938px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 4088px;
    left:50%; 
    margin-left:-576px
}