<app-header></app-header>
<div class="maintext">Website & E-commerce Translations</div>
<div class="subtext">
    <p>Translating a website lets you reach thousands  of new visitors and potential clients online. Offering your products</p>
    <p>or services to an international audience provides exposure and significant growth potential</p> 
    <p>for your business. </p>
    <p class="text_space">According to a study conducted by <a class="link" href="https://csa-research.com/Blogs-Events/CSA-in-the-Media/Press-Releases/Consumers-Prefer-their-Own-Language" target="blank">CSA Research</a>, 76% of consumers prefer to find information</p>
    <p>on websites and e-commerce platforms in their own language, while 40% state that they would never</p>
    <p>buy from websites in a language other than their own.</p>
</div>

<div class="block1"></div>
<img class="img1" src="../../assets/supported/done.svg" alt="">
<div class="text1">Personal websites</div>
<div class="block2"></div>
<img class="img2" src="../../assets/supported/done.svg" alt="">
<div class="text2">Community building websites</div>
<div class="block3"></div>
<img class="img3" src="../../assets/supported/done.svg" alt="">
<div class="text3">Photo sharing websites</div>

<div class="block4"></div>
<img class="img4" src="../../assets/supported/done.svg" alt="">
<div class="text4">Mobile device websites</div>
<div class="block5"></div>
<img class="img5" src="../../assets/supported/done.svg" alt="">
<div class="text5">Writers / authors websites</div>
<div class="block6"></div>
<img class="img6" src="../../assets/supported/done.svg" alt="">
<div class="text6">Blogs</div>

<div class="block7"></div>
<img class="img7" src="../../assets/supported/done.svg" alt="">
<div class="text7">Informational websites</div>
<div class="block8"></div>
<img class="img8" src="../../assets/supported/done.svg" alt="">
<div class="text8">Online business brochure</div>
<div class="block9"></div>
<img class="img9" src="../../assets/supported/done.svg" alt="">
<div class="text9">Directory websites</div>

<div class="block10"></div>
<img class="img10" src="../../assets/supported/done.svg" alt="">
<div class="text10">E-commerce websites</div>

<app-logo-app class="logo_app"></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>

<app-how class="how"></app-how>

<div class="why_maintext">Why should you translate your website?</div>
<div class="why_text">The translation of a website lets you reach thousands of new visitors and potential clients online. Offering your products or services to an international audience provides exposure and important growth potential for your business. Numerous studies have found that consumers are more likely to complete a purchase if they can find information in their own language. You can ensure a good browsing experience to your foreign visitors and gain market share in your industry at a limited cost. Our native speaking translators will adapt the content of your website to the culture and target audience, maintaining your brand identity while you expand into new markets.</div>

<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>