@import '../../responsive.scss';

.website_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px 40px;

    @include desktop-down {
        margin: 96px 64px 40px;
    }

    @include tablet-landscape-down {
        margin: 96px 48px 40px;
    }

    @include tablet-portrait-down {
        margin: 56px 32px 40px;
    }

    @include mobile-only {
        margin: 48px 24px 32px;
    }
}
.title {
    max-width: 452px;
    margin: 0 0 16px 0;
  
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    text-align: center;
    color: #161616;
}

.description {
    max-width: 760px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    
    color: #180A24;   
}

.text_space {
    margin-top: .5rem;
}

.link {
    color: #4247E5;
    font-family: 'Nexa XBold';
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

//Why section
.why_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}

.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}
.why_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}

.why_content {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 780px;

    @include tablet-landscape-down{
        max-width: 100%;
    }
}

.why_description {
    margin: 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        font-size: 14px;
        line-height: 20px;
    }
}

.website_points_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;

    }
}

.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    @include tablet-landscape-down {
        justify-content: center;
    }
}
.block {
    height: auto;
    max-width: 368px;
    width: 100%;    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0 16px 16px 0;
    padding: 24px;
    @include desktop-down {
        max-width: 266px;
        margin: 0 10px 12px 0;
    }
    @include tablet-landscape-down {
        display: flex;
        align-items: center;
        padding: 24px;
        margin: 0 16px 16px 0;
        max-width: 312px;
        min-height: 80px;
    }
    @include mobile-only{
        min-width: 317px;
        max-width: 100%;
        min-height: 80px;
        margin: 0 0 16px 0;
    }
}
.block_content{
    margin: 0 0 16px;
    @include tablet-landscape-down{
        display: flex;
        margin: 0 16px 0 0;
    }
}
.img {
    width: 32px;
    height: 32px;
    margin: 0;
}
.subtext {
    font-family: 'Nexa Book';
    font-size: 14px;
    line-height: 20px; 
    @include tablet-landscape-down{
        margin: 0;
        line-height: unset;
    }
}