<app-header></app-header>
<div class="website_container">
    <h1 class="title">{{ 'website_service.title' | translate }}</h1>
    <div class="description">
        <p>{{ 'website_service.description_text1' | translate }}</p>
        <p class="text_space">{{ 'website_service.description_text2' | translate }}
            <a class="link"
                href="https://csa-research.com/Blogs-Events/CSA-in-the-Media/Press-Releases/Consumers-Prefer-their-Own-Language"
                target="blank">{{ 'website_service.description_link' | translate }}
            </a>
            {{ 'website_service.description_text3' | translate }}
        </p>
    </div>
</div>

<div class="website_points_container">
    <div class="blocks">
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext"> {{ 'website_service.point_text1' | translate }}</p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text2' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text3' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text4' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text5' | translate }}
            </p>
        </div>
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text6' | translate }}
            </p>
        </div>        
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text7' | translate }}
            </p>
        </div>        
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text8' | translate }}
            </p>
        </div>        
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text9' | translate }}
            </p>
        </div>        
        <div class="block">
            <div class="block_content">
                <img class="img" src="../../assets/supported/done.svg" alt="">
            </div>
            <p class="subtext">
                {{ 'website_service.point_text10' | translate }}
            </p>
        </div>
    </div>
</div>

<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<app-how></app-how>


<div class="why_container">
    <div class="naming_section">
        <h3 class="why_title">{{ 'website_service.why_title' | translate }}</h3>
    </div>

    <div class="why_content">
        <p class="why_description">{{ 'website_service.why_description' | translate }}</p>
    </div>
</div>

<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>