



.logo {
    cursor: pointer;
    position: absolute;
    left: 14%;
    right: 72.12%;
    top: 4.56%;
    bottom: 92.65%;

    height: 29.432100296020508px;
    width: 222.00369262695312px;
    left: 224px;
    top: 48.181854248046875px;
    border-radius: 0px;
    
    left:50%; 
    margin-left:-576px 
}

.block1 {
    position: absolute;
    width: 760px;
    height: 64px;
    left: 224px;
    top: 132px;
    
    background: #ECEDFC;
    border-radius: 6px; 
    left:50%; 
    margin-left:-576px   
}

.group {
    height: 22px;
    width: 298px;
    left: 256px;
    top: 153px;
    border-radius: 0px;
    
}

.icon1 {
    position: absolute;
    left: 16%;
    right: 82.88%;
    top: 14.49%;
    bottom: 83.81%;

    height: 18px;
    width: 17.999929428100586px;
    left: 256px;
    top: 153px;
    border-radius: 0px;

    left:50%; 
    margin-left:-544px 
    
}

.text1 {
    position: absolute;
    width: 272px;
    height: 20px;
    left: 282px;
    top: 155px;

    height: 20px;
    width: 272px;
    left: 282px;
    top: 155px;

    
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-518px 
}

.link {
    font-family: 'Nexa XBold';
    color: #4247E5;      
}

.maintext {
    position: absolute;
    width: 191px;
    height: 28px;
    left: 224px;
    top: 236px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px  
}

.text2 {
    position: absolute;
    width: 91px;
    height: 22px;
    left: 224px;
    top: 288px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616; 
    left:50%; 
    margin-left:-576px        
}

.subtext2 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 224px;
    top: 310px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px  
}

.input2 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 224px;
    top: 336px;
    
    background: #ECEDFC;
    border-radius: 6px;
    border: none;
    padding-left: 24px;
    left:50%; 
    margin-left:-576px  
}

.text3 {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 616px;
    top: 288px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -184px  
}

.red {
    color: #E33C5C;
}
.subtext3 {
    position: absolute;
    width: 214px;
    height: 18px;
    left: 616px;
    top: 310px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616; 
    left:50%; 
    margin-left: -184px      
}

.input3 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 336px;
    
    background: #ECEDFC;
    border-radius: 6px;
    border: none;
    padding-left: 24px;
    left:50%; 
    margin-left: -184px  
}

.text4 {
    position: absolute;
    width: 161px;
    height: 22px;
    left: 224px;
    top: 408px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}

.input4 {
    position: absolute;
    width: 736px;
    height: 92px;
    left: 224px;
    top: 438px;
    
    background: #ECEDFC;
    border-radius: 6px;   
    border: none;
    padding-left: 24px;
    padding-top: 12px;
    left:50%; 
    margin-left:-576px  
}

.text5{
    position: absolute;
    width: 202px;
    height: 20px;
    left: 258px;
    top: 560px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    
    color: #161616; 
    left:50%; 
    margin-left:-542px    
}

.subtext5 {
    position: absolute;
    width: 726px;
    height: 32px;
    left: 258px;
    top: 582px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left:-542px   
}

.input5 {
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    left: 224px;
    top: 560px;
    
    background: #FFFFFF;
    accent-color: #4247E5;
    border: 1px solid rgba(66, 71, 229, 0.15);
    border-radius: 6px;
    left:50%; 
    margin-left:-576px     
}

.files {
    position: absolute;
    width: 90px;
    height: 28px;
    left: 224px;
    top: 654px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px  
}

.conf_img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 776px;
    top: 656px;
    left:50%; 
    margin-left:-24px  
}

.conf {
    position: absolute;
    width: 182px;
    height: 18px;
    left: 802px;
    top: 659px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;  
    left:50%; 
    margin-left: 2px   
}

.upload {
    cursor: pointer;
    opacity: 0;
    height: 64px;
    width: 760px;
    left: 224px;
    top: 706px;
    border-radius: 6px;

    box-sizing: border-box;

position: absolute;
width: 760px;
height: 64px;
left: 224px;
top: 706px;

border: 1px dashed rgba(66, 71, 229, 0.15);
border-radius: 6px;

background-color: white;
left:50%; 
margin-left: -576px  
}

.upload_img {

    height: 64px;
    width: 760px;
    left: 224px;
    top: 706px;
    border-radius: 6px;

    box-sizing: border-box;

position: absolute;
width: 760px;
height: 64px;
left: 224px;
top: 706px;

border: 1px dashed rgba(66, 71, 229, 0.15);
border-radius: 6px;

background-color: white;
left:50%; 
margin-left: -576px  
}

.files_block {
    display: flex;
    justify-content: space-between;   
position: absolute;
width: 760px;
height: 64px;
left: 224px;
top: 706px;

// border: 1px dashed rgba(66, 71, 229, 0.15);
border-radius: 6px;

left:50%; 
margin-left: -576px;
z-index: 9999;
}
.files_img {      
position: absolute;
width: 760px;
height: 64px;
left: 224px;
top: 706px;

// border: 1px dashed rgba(66, 71, 229, 0.15);
border-radius: 6px;

background-color: white;
left:50%; 
margin-left: -576px;
z-index: 9998;
}

.flex {
    display: flex;
    margin-left: 0;
}
.file_name {
    margin-top: 21px;
    margin-left: 24px;
    height: 22px;
 
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
}

.file_delete {
    margin-top: 23px;
    margin-left: 9.5px;
}

.file_word {
    margin-top: 23px;
    margin-right: 32px;
    height: 18px;

    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
}

.upload_btn {
    height: 64px;
    width: 760px;
    left: 224px;
    top: 706px;
    border-radius: 6px;

    box-sizing: border-box;

position: absolute;
width: 760px;
height: 64px;
left: 224px;
top: 706px;

border: 1px dashed rgba(66, 71, 229, 0.15);
border-radius: 6px;

background-color: white;
opacity: 0;
left:50%; 
margin-left: -576px  
}



.return_img {
    position: absolute;
    left: 15%;
    right: 84%;
    top: 77.7%;
    bottom: 20.79%;

    height: 16.000000000000014px;
width: 16.000000000000014px;
left: 240px;
top: 820.5px;
border-radius: 0px;


    left:50%; 
    margin-left: -576px   
}
.return {
    position: absolute;
    width: 185px;
    height: 20px;
    left: 246px;
    top: 819px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    color: #4247E5;
    left:50%; 
    margin-left: -554px  
}

.continue {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 764px;
    top: 802px;
    
    background: #4247E5;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;
    border: none;
    left:50%; 
    margin-left: -36px  
}

input {
    font-family: 'Nexa Light';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
textarea {
    font-family: 'Nexa Light';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
input::placeholder {
    opacity: .2;
}

textarea::placeholder {
    opacity: .2;
}

input:focus, select:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


.block2 {
    position: absolute;
    width: 592px;
    height: 115%;
    left: 1008px;
    top: 0px;
    
    background: #F6F6FE;
    left:50%; 
    margin-left: 208px;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.help {

    
    position: absolute;
    left: 68.06%;
    right: 26.25%;
    top: 4.73%;
    bottom: 92.99%;

    height: 24px;
    width: 91px;
    left: 1089px;
    top: 50px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 289px  
}

.contact {
    box-sizing: border-box;

    position: absolute;
    left: 77%;
    right: 14%;
    top: 3.79%;
    bottom: 92.05%;
    
    /* #161616 */
    
    border: none;
    border-radius: 12px;
  
    height: 44px;
    width: 144px;
    left: 1232px;
    top: 40px;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #4247E5;
    background-color: white;
    left:50%; 
    margin-left: 432px  
}

.lang {
    position: absolute;
    width: 88px;
    height: 28px;

    top: 238px;
    
    /* #4247E5 */
    
    background: #4247E5;
    opacity: 0.1;
    border-radius: 6px;

    height: 28px;
    width: 88px;
    left: 448px;
    top: 242px;
    border-radius: 6px;
    border: none;

    
    left:50%; 
    margin-left: 248px 
}

.lang_text {
    position: absolute;

    height: 20px;
    left: 1068px;
    top: 246px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    
    color: #4247E5;
    left:50%; 
    margin-left: 268px 
}

.summary {
    position: absolute;
    width: 124px;
    height: 24px;
    left: 1048px;
    top: 152px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.edit {
    position: absolute;
    width: 28px;
    height: 20px;
    left: 1349px;
    top: 154px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    color: #4247E5;
    left:50%; 
    margin-left: 549px 
}

.from {
    position: absolute;
    height: 18px;
    left: 1048px;
    top: 214px;
    width: 200px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* identical to box height, or 150% */
    
    
    color: #161616; 
    left:50%; 
    margin-left: 248px 
}

.from_val {
    position: absolute;
    height: 18px;
    left: 1313px;
    top: 214px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616; 
    left:50%; 
    margin-left: 513px 
}

.subject {
    position: absolute;
    width: 44px;
    height: 18px;
    left: 1048px;
    top: 278px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.subject_val {
    position: absolute;
    height: 18px;
    left: 1330px;
    top: 278px;
    width: 170px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    // line-height: 18px;
    /* identical to box height, or 150% */
    
    text-align: right;
    
    color: #161616;
    left:50%; 
    margin-left: 406px
}

.word {
    position: absolute;
    width: 68px;
    height: 18px;
    left: 1048px;
    top: 306px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.word_val {
    position: absolute;
    height: 18px;
    left: 1302px;
    top: 306px;
    width: 170px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    text-align: right;
    
    color: #161616; 
    left:50%; 
    margin-left: 406px 
}

.service {

    position: absolute;
    width: 73px;
    height: 18px;
    left: 1048px;
    top: 334px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.service_val {
    position: absolute;
    height: 18px;
    left: 1304px;
    top: 334px;
    width: 170px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    text-align: right;
    
    color: #161616; 
    left:50%; 
    margin-left: 406px 
    
}

.price {
    position: absolute;
    width: 86px;
    height: 18px;
    left: 1048px;
    top: 362px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
    
}

.price_val {
    position: absolute;
    height: 20px;
    left: 1294px;
    top: 362px;
    width: 170px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: right;
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 406px 
}

.delivery {
    position: absolute;
    width: 78px;
    height: 18px;
    left: 1048px;
    top: 390px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.delivery_val {
    position: absolute;
    height: 20px;
    left: 1227px;
    top: 392px;
    width: 170px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    text-align: right;
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 406px 
}

.order {
    position: absolute;
    width: 65px;
    height: 18px;
    left: 1048px;
    top: 444px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 248px 
}

.order_val {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 1315px;
    top: 444px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    /* identical to box height, or 167% */
    
    
    /* #161616 */
    
    color: #161616;  
    left:50%; 
    margin-left: 406px   
}

.desc {
    position: absolute;
    width: 328px;
    height: 64px;
    left: 1048px;
    top: 474px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* or 160% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: 248px    
}

// order2
.billing {
    position: absolute;
    width: 181px;
    height: 28px;
    left: 224px;
    top: 236px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -576px  
}

.text6 {
    position: absolute;
    width: 132px;
    height: 22px;
    left: 224px;
    top: 288px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -576px;
}

.input6 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 224px;
    top: 318px;
    
    background: #ECEDFC;
    border-radius: 6px; 
    left:50%; 
    margin-left: -576px;
    border: none;
    padding-left: 24px; 
}

.text7 {
    position: absolute;
    width: 70px;
    height: 22px;
    left: 616px;
    top: 288px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -184px;
}

.input7 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 318px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -184px;
    border: none;
    padding-left: 24px;
    
}

.text8 {
    position: absolute;
    width: 95px;
    height: 22px;
    left: 224px;
    top: 390px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -576px;
}

.rad1 {
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    left: 224px;
    top: 434px;
    accent-color: #4247E5;  
    background: #FFFFFF;
    border: 1px solid #4247E5;
    border-radius: 100px;
    left:50%; 
    margin-left: -576px;
}

.lab1 {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 254px;
    top: 433.5px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;  
    left:50%; 
    margin-left: -546px;
}

.rad2 {
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    left: 352px;
    top: 434.5px;
    accent-color: #4247E5; 
    background: #FFFFFF;
    border: 1px solid rgba(66, 71, 229, 0.15);
    border-radius: 100px; 
    left:50%; 
    margin-left: -448px;
}

.lab2 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 382px;
    top: 434px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: -418px; 
}

.text9 {
    position: absolute;
    width: 106px;
    height: 22px;
    left: 616px;
    top: 390px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -184px;
}

.input9 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 420px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -184px;
    border: none;
    padding-left: 24px;
}

.text10 {
    position: absolute;
    width: 104px;
    height: 22px;
    left: 224px;
    top: 492px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;   
    left:50%; 
    margin-left: -576px;  
}

.input10 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 224px;
    top: 522px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -576px;
    border: none;
    padding-left: 24px; 
}

.text11 {
    position: absolute;
    width: 107px;
    height: 22px;
    left: 616px;
    top: 492px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616; 
    left:50%; 
    margin-left: -184px;
}

.input11 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 522px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -184px;
    border: none;
    padding-left: 24px;
}

.text12 {
    position: absolute;
    width: 28px;
    height: 22px;
    left: 224px;
    top: 594px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -576px;
}

.input12 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 224px;
    top: 624px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -576px;
    border: none;
    padding-left: 24px; 
}

.text13 {
    position: absolute;
    width: 61px;
    height: 22px;
    left: 616px;
    top: 594px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -184px;
}

.input13 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 624px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -184px;
    border: none;
    padding-left: 24px;
}

.text14 {
    position: absolute;
    width: 55px;
    height: 22px;
    left: 224px;
    top: 696px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -576px;
}

.input14 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 224px;
    top: 726px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -576px;
    border: none;
    padding-left: 24px; 
}

.text15 {
    position: absolute;
    width: 151px;
    height: 22px;
    left: 616px;
    top: 696px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616; 
    left:50%; 
    margin-left: -184px;
}

.input15 {
    position: absolute;
    width: 344px;
    height: 48px;
    left: 616px;
    top: 726px;
    
    background: #ECEDFC;
    border-radius: 6px;
    left:50%; 
    margin-left: -184px;
    border: none;
    padding-left: 24px;
}

.agree {
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    left: 224px;
    top: 806px;
    
    background: #FFFFFF;
    accent-color: #4247E5;
    border: 1px solid rgba(66, 71, 229, 0.15);
    border-radius: 6px;   
    left:50%; 
    margin-left: -576px; 
}

.agree_text {
    position: absolute;
    width: 493px;
    height: 22px;
    left: 256px;
    top: 806px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -544px; 
}

.blue {
    color: #4247E5;
    font-family: 'Nexa XBold';
}

.return_img2 {
    position: absolute;
    left: 15%;
    right: 84%;
    top: 78.71%;
    bottom: 19.85%;
    
    height: 16.000000000000014px;
    width: 16.000000000000014px;
    left: 240px;
    top: 870.5px;
    border-radius: 0px;
    
    left:50%; 
    margin-left: -576px; 
}

.return2 {
    position: absolute;
    width: 155px;
    height: 20px;
    left: 246px;
    top: 869px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    color: #4247E5;
    left:50%; 
    margin-left: -554px; 
}

.submit {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 764px;
    top: 852px;
    
    background: #4247E5;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;
    left:50%; 
    margin-left: -36px; 
    border: none;
}


//order3
.thank {
    position: absolute;
    width: 446px;
    height: 40px;
    left: 395.5px;
    top: 214px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -404.5px; 
}

.your_order {
    position: absolute;
    width: 82px;
    height: 24px;
    left: 366.5px;
    top: 270px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -433.5px; 
}

.order_num {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 456.5px;
    top: 270px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left: -343.5px; 
}

.has_been {
    position: absolute;

    height: 24px;
    left: 549.5px;
    top: 270px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;  
    left:50%; 
    margin-left: -250.5px; 
}

.you_will {
    position: absolute;
    width: 257px;
    height: 24px;
    left: 383.5px;
    top: 296px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -416.5px; 
}

.trans_date {
    position: absolute;
    width: 166px;
    height: 24px;
    left: 648.5px;
    top: 296px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left: -151.5px; 
}

.date_form {
    position: absolute;
    width: 31px;
    height: 24px;
    left: 822.5px;
    top: 296px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 22.5px; 
}

.want {
    position: absolute;
    width: 178px;
    height: 28px;
    left: 527px;
    top: 360px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    
    
    color: #161616;
    left:50%; 
    margin-left: -273px; 
}

.want_sub {
    position: absolute;
 
    height: 20px;
    left: 392px;
    top: 394px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: -408px; 
}

.pay {
    position: absolute;
    width: 220px;
    height: 48px;
    left: 506px;
    top: 446px;
    
    background: #4247E5;
    border-radius: 12px;
    border: none;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;

    left:50%; 
    margin-left: -294px; 
}

.pay_sub {
    position: absolute;
    width: 618px;
    height: 40px;
    left: 306px;
    top: 534px;
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    
    text-align: center;
    
    /* #161616 */
    
    color: #161616;
    left:50%; 
    margin-left: -494px; 
}

.back {
    box-sizing: border-box;

    position: absolute;
    left: 32.12%;
    right: 55.12%;
    top: 64.63%;
    bottom: 30.74%;
    
    height: 44px;
    width: 204px;
    left: 514px;
    top: 614px;
    border-radius: 12px;
    
    /* #161616 */
    
    border: 1px solid #161616;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    /* #161616 */
    
    color: #161616;
    background-color: white;

    left:50%; 
    margin-left: -286px; 
}

.widget {
    display: none;
    position: absolute;
    width: 220px;
    left: 506px;
    top: 680px;

    left:50%; 
    margin-left: -294px; 
}

.visible {
    display: block;
}

// <div class="want_sub">If you want you can pay now or within 5 days of translation deliver.</div>
//     <button (click)="pay()" class="pay">Pay now</button>
//     <div class="pay_sub">
//         <p>If you need to modify or cancel your order, please contact us as soon as possible at <a href="mailto:hello@gettranslation.io" class="link">hello@gettranslation.io</a>,</p>
//         <p>quoting the order n.48002341.</p>
//     </div>
//     <button [routerLink]="['/']" class="back">Go back to Home page</button>



.loader-line {
    width: 712px;
    height: 6px;
    position: relative;
    overflow: hidden;
    background-color: #4247e519;

    // margin: auto;
    margin-top: 732px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 9999;
    position: absolute;
    left: 224px;
    left:50%; 
    margin-left: -552px; 

}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 6px;
    width: 40%;
    background-color: #4247E5;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}