<app-header></app-header>
<div class="about">
    <div class="block">
        <div class="text">{{ 'about.text1' | translate }}</div>
        <div class="subtext">
            <p>{{ 'about.subtext11' | translate }}</p>
            <p>{{ 'about.subtext12' | translate }}</p>
            <p>{{ 'about.subtext13' | translate }}</p>
        </div>
    </div>
    <div class="block">
        <div class="text">{{ 'about.text2' | translate }}</div>
        <div class="subtext">
            <p>{{ 'about.subtext21' | translate }}</p>
            <p>{{ 'about.subtext22' | translate }}</p>
            <p>{{ 'about.subtext23' | translate }}</p>
        </div>
    </div>
    <div class="block">
        <div class="text">{{ 'about.text3' | translate }}</div>
        <div class="subtext">
            <p>{{ 'about.subtext31' | translate }}</p>
            <p>{{ 'about.subtext32' | translate }}</p>
            <p>{{ 'about.subtext33' | translate }}</p>
        </div>
    </div>
</div>
<app-logo-block></app-logo-block>
<app-our-clients></app-our-clients>
<app-key-benefits></app-key-benefits>
<app-embrace></app-embrace>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>
