<app-header></app-header>

<div class="about_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'about.text1' | translate }}</h3>
    </div>

        <div class="question_content">
            <p class="question_subtext">{{ 'about.subtext11' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext12' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext13' | translate }}</p>
        </div>
</div>
<div class="about_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'about.text2' | translate }}</h3>
    </div>

        <div class="question_content">
            <p class="question_subtext">{{ 'about.subtext21' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext22' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext23' | translate }}</p>
        </div>
</div>
<div class="about_container about_space">
    <div class="naming_section">
        <h3 class="question_title">{{ 'about.text3' | translate }}</h3>
    </div>

        <div class="question_content">
            <p class="question_subtext">{{ 'about.subtext31' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext32' | translate }}</p>
            <p class="question_subtext">{{ 'about.subtext33' | translate }}</p>
        </div>
</div>

<app-logo-block></app-logo-block>
<app-our-clients></app-our-clients>
<app-key-benefits></app-key-benefits>
<app-embrace></app-embrace>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>
