@import '../../responsive.scss';

.about_container {
    display: flex;
    max-width: 1168px;
    justify-content: space-between;
       
    margin: 96px auto 40px;

    @include desktop-down {
        margin: 96px 64px 40px;
    }
    @include tablet-landscape-down {
        margin: 96px 48px 40px;
        flex-direction: column;
    }
    @include tablet-portrait-down {
        margin: 56px 32px 40px;
    }
    @include mobile-only {
        margin: 48px 24px 32px;
    }
}
.about_space{
    margin-bottom: 140px;
}

.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}

.question_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}
.question_content {
    display: flex;
    flex-direction: column;

    margin: 0;
    max-width: 780px;
    width: 100%;
    color: #161616;

    @include tablet-landscape-down {
        align-items: flex-start;
        margin: 0 14px 0 0;
        max-width: 100%;
    }
}
.question_text {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}
.question_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}