<app-header></app-header>
<div class="maintext">
    Multilingual DTP services
</div>

<app-logo-app></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>


<div class="when_maintext">
    <p>When is DTP</p>
    <p>necessary?</p>
</div>
<div class="when_text">
    <p>There are some cases in which you should consider to add a DTP service to your project, particularly if translation is intended for publication, to make sure that the layout matches the original file:</p>
    <ul class="space_top">
        <li>Translation from English into latin languages such as French and Spanish, as they tend to expand in word count and require more space or smaller font size.</li>
        <li>Translation into or from German, Russian and Polish, as words in these languages can be very long, requiring re-sizing of graphics and menu items.</li>
        <li>Translation into or from right-to-left languages, such as Arabic, Hebrew and Farsi, to adjust the position of text and graphics accordingly.</li>
        <li>Translation into or from character-based languages, such as Chinese, Japanese and Korean, as they normally require specific versions of the publishing software.</li>
    </ul>
    <p class="space_top">If you have any doubts whether you should add a DTP service, feel free to contact us, and we will be happy to find a solution for your specific needs.</p>
</div>

<div class="how_maintext">
    <p>How to get</p>
    <p>a quote</p>
</div>
<div class="how_text">
    Check the table below to see in which format you can export your files, and send them via our <a [routerLink]="['/contact']" class="link">contact form</a> or at <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a> to get a quote for translation (either Professional or Premium) and DTP.
</div>

<div class="table"></div>
    <div class="header1">Software</div>
    <div class="header2">Accepted source files to export</div>
    <div class="add_info">we will deliver in the same format</div>

    <div class="line11">Adobe Acrobat</div>
    <div class="line12">PDF / Spreadsheet / Word / PowerPoint / HTML </div>

    <div class="line21">Adobe Captivate</div>
    <div class="line22">HTML</div>

    <div class="line31">Adobe Dreamweaver</div>
    <div class="line32">HTML / XML</div>
  
    <div class="line41">Adobe Fireworks</div>
    <div class="line42">HTML / XHTML </div>

    <div class="line51">Adobe FrameMaker</div>
    <div class="line52">RTF / MIF </div>

    <div class="line61">Adobe Illustrator</div>
    <div class="line62">PNG / JPEG / TIFF / PDF </div>

    <div class="line71">Adobe InDesign</div>
    <div class="line72">ICML / IDML / IDAP (recommended) </div>

    <div class="line81">Adobe Photoshop</div>
    <div class="line82">PNG / JPEG / PDF</div>

    <div class="line91">AutoCAD</div>
    <div class="line92">DXF / DWG + PDF</div>
    <div class="add_info1">(PDF necessary for quote)</div>

    <div class="line101">CorelDRAW</div>
    <div class="line102">CDR / JPG / TIFF + PDF</div>
    <div class="add_info2">(PDF necessary for quote)</div>

    <div class="line111">MadCap Flare</div>
    <div class="line112">HTML / XHTML / DITA / PDF / WORD</div>

    <div class="line121">Microsoft Publisher</div>
    <div class="line122">PUB + PDF </div>
    <div class="add_info3">(PDF necessary for quote)</div>

    <div class="line131">QuarkXPress</div>
    <div class="line132">QXD + PDF </div>
    <div class="add_info4">(PDF necessary for quote)</div>


<div class="why_maintext">
    <p>Why we are</p>
    <p>a good fit for your</p>
    <p>needs?</p>
</div>
<div class="why_text">
    <p class="bold">Quote</p>
    <p class="space_top">Our team will analyze your files and your instructions, and will get back to you with a quote that includes the service you have requested (Basic, Professional or Premium), and the costs of DTP. Note that these can vary, based on the total volume of pages, the quality of the source files and the required delivery turnarounds.</p>
    <p class="space_top bold">Translation</p>
    <p class="space_top">Once you have confirmed the order, we take care of the translation first. If available, please provide your style guides and glossaries, as these assets are critical for quality, consistency and conformance to branding.</p>
    <p class="space_top bold">DTP</p>
    <p class="space_top">After translation, the project is assigned to a DTP specialist. When possible, we always chose a DTP specialist that is also a speaker of the target language. Otherwise, the translator will have a look at the final output before delivery, to make sure the content has not been compromised and that you have a ready to print file.</p>
</div>

<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>