<app-header></app-header>
<div class="adwords_container">
    <h1 class="title">{{ 'dtp_services.title' | translate }}</h1>
</div>


<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<div class="question_dtp_services_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'dtp_services.when_title' | translate }}</h3>
    </div>

    <div class="question_content">
        <p class="question_subtext">{{ 'dtp_services.when_text1' | translate }}</p>
        <ul class="question_subtext space_ul">
            <li>{{ 'dtp_services.when_subtext1' | translate }}</li>
            <li>{{ 'dtp_services.when_subtext2' | translate }}</li>
            <li>{{ 'dtp_services.when_subtext3' | translate }}</li>
            <li>{{ 'dtp_services.when_subtext4' | translate }}</li>
        </ul>
        <p class="question_subtext">{{ 'dtp_services.when_text2' | translate }}</p>
    </div>
</div>

<div class="question_dtp_services_container">
    <div class="naming_section">
        <h3 class="question_title">{{ 'dtp_services.how_get_title' | translate }}</h3>
    </div>

    <div class="question_content table_width">
        <p class="question_subtext">{{ 'dtp_services.how_get_subtext1' | translate }}<a [routerLink]="['/contact']"
                class="link">{{ 'dtp_services.how_get_link' | translate }}</a>{{ 'dtp_services.how_get_subtext2' |
            translate }}
            <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a>{{
            'dtp_services.how_get_subtext3' | translate }}
        </p>

        <div class="table_container">
            <div class="table scroll-inner">
                <table class="fix-width">
                    <thead>
                        <tr class="table_column table_line">
                            <th class="table_header table_first_column">{{ 'dtp_services.table_header1' | translate }}</th>
                            <th class="table_additional table_header">
                                <p>{{ 'dtp_services.table_header2' | translate }}</p>
                                <p class="add_info">{{ 'dtp_services.header_note' | translate }}</p> 
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item11' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item12' | translate }}</td>
                        </tr>                        
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item21' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item22' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item31' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item32' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item41' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item42' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item51' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item52' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item61' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item62' | translate }}</td>
                        </tr>                        
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item71' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item72' | translate }}</td>
                        </tr>                        
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item81' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item82' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item91' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item92' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item101' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item102' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item111' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item112' | translate }}</td>
                        </tr>
                        <tr class="table_column table_line">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item121' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item122' | translate }}</td>
                        </tr>
                        <tr class="table_column">
                            <td class="table_descr table_first_column">{{ 'dtp_services.table_item131' | translate }}</td>
                            <td class="table_descr">{{ 'dtp_services.table_item132' | translate }}</td>
                        </tr>
                    </tbody>

                    <!-- <td class="table_additional table_descr">

                        <p class="add_info">{{ 'subtitling.row_note' | translate }}</p> 
                    </td> -->
                </table>
            </div>
        </div>
    </div>
</div>



<div class="why_needs_container">
    <div class="naming_section">
        <h3 class="why_needs_title">{{ 'dtp_services.why_needs_title' | translate }}</h3>
    </div>

    <div class="why_needs_points">
        <div class="point_content">
            <p class="point_text">{{ 'dtp_services.why_needs_text1' | translate }}</p>
            <p class="point_subtext">{{ 'dtp_services.why_needs_subtext1' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'dtp_services.why_needs_text2' | translate }}</p>
            <p class="point_subtext">{{ 'dtp_services.why_needs_subtext2' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'dtp_services.why_needs_text3' | translate }}</p>
            <p class="point_subtext">{{ 'dtp_services.why_needs_subtext3' | translate }}</p>
        </div>
    </div>
</div>

<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>