@import '../../responsive.scss';

.adwords_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px 40px;

    @include desktop-down {
        margin: 96px 64px 40px;
    }

    @include tablet-landscape-down {
        margin: 96px 48px 40px;
    }

    @include tablet-portrait-down {
        margin: 56px 32px 40px;
    }

    @include mobile-only {
        margin: 48px 24px 32px;
    }
}
.title {
    max-width: 452px;
    margin: 0 0 16px 0;
  
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    text-align: center;
    color: #161616;
}

.bold {
    font-family: 'Nexa XBold';
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left; 
}

//questions
.question_dtp_services_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 88px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 88px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 40px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 40px;
    }
}
.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 360px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}

.question_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}
.question_content {
    display: flex;
    flex-direction: column;

    margin: 0;
    max-width: 780px;
    width: 100%;
    color: #161616;

    @include tablet-landscape-down {
        align-items: flex-start;
        max-width: 100%;
    }
}
.question_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}

.space_ul {
    margin-left: 1.5rem;
}

.link {
    color: #4247E5;
    font-family: 'Nexa XBold';
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 4px;
}

//why
.why_needs_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0 24px 140px;
    }
}

.naming_section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 346px;
    margin: 0 24px 0 0;
    color: #161616;

    @include tablet-landscape-down {
        max-width: 100%;
        margin: 0 0 14px 0;
    }
    @include mobile-only{
        margin: 0 0 16px 0;
    }
}

.why_needs_points {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 780px;

    @include tablet-landscape-down{
        max-width: 100%;
    }
}

.why_needs_title {    
    display: flex;
    margin: 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 48px;
    color: #161616;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
    }
}

.point_content {
    display: flex;
    flex-direction: column;

    @include tablet-landscape-down {
        align-items: flex-start;
        margin: 0 14px 0 0;
    }
}

.point_text {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.point_subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  
    @include mobile-only {
        line-height: 20px;
    }
}

//table
.fix-width  {
    width: 780px;
    height: 798px;
    max-width: none;
    padding: 26px 26px 26px 40px;
    border-radius: 14px;
    background: #ECEDFC;   
    @include tablet-landscape-down{
        width: 760px;
    }
}
.table_container{
    max-width: 100%;
    margin: 0;
}
.table_width{
    @include desktop-down{
        max-width: 62%;
    }    
    @include tablet-landscape-down{
        max-width: 100%;
    }
}
.table {
    height: 810px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.scroll-inner {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#ECEDFC, 0.5);
        border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background: #DADCFF;;
	}
}

.table_column{
    display: flex;
    margin: 0;
}
.table_line{
    border-bottom: 1px solid rgba(172, 173, 183, 0.1);
}

.table_header {
    margin: 0 0 20px 0;
    text-align: start;
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
.table_first_column{
    width: 220px;
}

.table_descr {
    margin: 16px 0 16px 0;  
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.table_line{
    border-bottom: 1px solid rgba(172, 173, 183, 0.1);
}
.table_additional{
    display: flex;
}
.table_space{
    margin: 0;
}
.add_info {
    margin: 0 0 0 5px;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    
    color: #383A5E;
    opacity: 0.3;
}