.why_maintext {
    overflow: unset;
    height: 96px;
    width: 310px;
    left: 0px;
    top: 0px;

    position: absolute;
    left: 0%;
    right: 73.09%;
    top: 0%;
    bottom: 78.95%;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    
    color: #161616;
}


.why_block1 {
    height: 136px;
    width: 760px;
    left: 392px;
    top: 0px;
    border-radius: 12px;
    
    position: absolute;
    left: 34.03%;
    right: 0%;
    top: 0%;
    bottom: 70.18%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
}

.why_img1 {
    height: 72px;
    width: 72px;
    left: 424px;
    top: 34px;
    border-radius: 0px;
    
    position: absolute;
    left: 36.81%;
    right: 56.94%;
    top: 7.46%;
    bottom: 76.75%;
}

.why_text1 {
    position: absolute;
    left: 45.14%;
    right: 38.8%;
    top: 7.02%;
    bottom: 87.28%;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
}
.why_subtext1 {
    height: 40px;
    width: 600px;
    left: 520px;
    top: 64px;
    
    position: absolute;
    left: 45.14%;
    right: 2.78%;
    top: 14.04%;
    bottom: 77.19%;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
}

.why_block2 {
    height: 136px;
    width: 760px;
    left: 392px;
    top: 160px;
    border-radius: 12px;
    
    position: absolute;
    left: 34.03%;
    right: 0%;
    top: 35.09%;
    bottom: 35.09%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
}

.why_img2 {
    height: 72px;
    width: 72px;
    left: 424px;
    top: 192px;
    border-radius: 0px;
    
    position: absolute;
    left: 36.81%;
    right: 56.94%;
    top: 42.11%;
    bottom: 42.11%;
}

.why_text2 {
    position: absolute;
    left: 45.14%;
    right: 41.93%;
    top: 39.91%;
    bottom: 54.39%;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
}
.why_subtext2 {
    height: 60px;
    width: 600px;
    left: 520px;
    top: 214px;
    
    position: absolute;
    left: 45.14%;
    right: 2.78%;
    top: 46.93%;
    bottom: 39.91%;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
}

.why_block3 {
    height: 136px;
    width: 760px;
    left: 392px;
    top: 320px;
    border-radius: 12px;
    
    position: absolute;
    left: 34.03%;
    right: 0%;
    top: 70.18%;
    bottom: 0%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(180, 187, 207, 0.15);
    border-radius: 12px;
}

.why_img3 {
    height: 72px;
    width: 72px;
    left: 424px;
    top: 352px;
    border-radius: 0px;
    
    position: absolute;
    left: 36.81%;
    right: 56.94%;
    top: 77.19%;
    bottom: 7.02%;
}

.why_text3 {
    position: absolute;
    left: 45.14%;
    right: 34.55%;
    top: 77.19%;
    bottom: 17.11%;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #161616;
}
.why_subtext3 {
    height: 40px;
    width: 600px;
    left: 520px;
    top: 384px;
    
    position: absolute;
    left: 45.14%;
    right: 2.78%;
    top: 84.21%;
    bottom: 7.02%;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #161616;
}
