<div class="why_maintext">Why Gettranslation?</div>

<div class="why_block1"></div>
<img class="why_img1" src="../../assets/key benefits/Group 188.svg" alt="">
<div class="why_text1">Experience and Trust</div>
<div class="why_subtext1">We have delivered 400,000 translations in 190 languages to 50,000 clients in 40 macro-domains since 2017, powering the globalization strategy of the most demanding clients.</div>

<div class="why_block2"></div>
<img class="why_img2" src="../../assets/key benefits/process.svg" alt="">
<div class="why_text2">Open Technology</div>
<div class="why_subtext2">We work hard to make translation services more effective by enhancing our production processes with great technology and talented people. Our APIs help you integrate human translation anywhere and anytime you need.</div>

<div class="why_block3"></div>
<img class="why_img3" src="../../assets/key benefits/Group 189.svg" alt="">
<div class="why_text3">Dedicated Human Support</div>
<div class="why_subtext3">Localization experts to support your internationalization journey and linguistic services that cover all your future needs.</div>
