<div class="why_benefits_container">
    <div class="naming_section">
        <h3 class="why_benefits_title">{{ 'developers.why_maintext' | translate }}</h3>
    </div>

    <div class="why_benefits_cards">
        <div class="benefit_card">
                <img class="benefit_icon" src="../../assets/key benefits/Group 188.svg" alt="">
                <div class="benefit_descr">
                    <p class="benefit_text">{{ 'developers.why_text1' | translate }}</p>
                    <p class="benefit_subtext">{{ 'developers.why_subtext1' | translate }}</p>
                </div>
            </div>
        <div  class="benefit_card">
                <img class="benefit_icon" src="../../assets/key benefits/process.svg" alt="">
                <div class="benefit_descr">
                    <p class="benefit_text">{{ 'developers.why_text2' | translate }}</p>
                    <p class="benefit_subtext">{{ 'developers.why_subtext2' | translate }}</p>
                </div>
        </div>
        <div class="benefit_card">
                <img class="benefit_icon" src="../../assets/key benefits/Group 189.svg" alt="">
                <div class="benefit_descr">
                    <p class="benefit_text">{{ 'developers.why_text3' | translate }}</p>
                    <p class="benefit_subtext">{{ 'developers.why_subtext3' | translate }}</p>
                </div>
        </div>
    </div>
</div>
