<div class="container_partners">
    <div class="logo_partners">
        <div class="imgs">
            <img class="img" src="../../../assets/color/accenture.png">
            <img class="img" src="../../../assets/color/bolt.png">
            <img class="img" src="../../../assets/color/booking.png">
            <img class="img" src="../../../assets/color/klarna.png">
            <img class="img" src="../../../assets/color/stripe.png">
            <img class="img" src="../../../assets/color/trustly.png">
            <img class="img" src="../../../assets/color/upwork.png">
            <img class="img" src="../../../assets/color/visa.png">
        </div>
        <div class="imgs">
            <img class="img" src="../../../assets/color/airbnb.png">
            <img class="img" src="../../../assets/color/dropbox.png">
            <img class="img" src="../../../assets/color/glovo.png">
            <img class="img" src="../../../assets/color/paysend.png">
            <img class="img" src="../../../assets/color/payu.png">
            <img class="img" src="../../../assets/color/shopify.png">
            <img class="img" src="../../../assets/color/verifone.png">
            <img class="img" src="../../../assets/color/wise.png">
        </div>
    </div>
</div>