<div class="more_container">
    <div class="more_descr">
        <div class="text">{{ 'home.more_text' | translate }}</div>
         <div class="subtext">{{ 'home.more_subtext' | translate }}</div>
         <button [routerLink]="['/contact']" class="btn">{{ 'home.more_btn' | translate }}</button>
    </div>

    <div class="more_badgehelper">
        <img class="img" src="../../assets/Ellipse 9.png" alt="">
        <div class="more_descr">
            <p class="img_text">{{ 'home.more_img_text' | translate }}</p>
            <p class="img_subtext"><span class="bold">{{ 'home.more_bold' | translate }}</span>{{ 'home.more_img_subtext' | translate }}</p>  
        </div>
    </div>
</div>