<div class="maintext">How it works</div>
<div class="text">
    <p>Our website translation services entail several ways to carry out the translation process, depending on your needs and convenience.</p>
    <p class="bold">1. Translation of original files</p>
    <p>We can translate directly into your website's source code (HTML, PHP, XML, or any other format) while respecting tags' integrity, thanks to the use of our proprietary translation software. This solution is ideal for a quick process, as it does not require the manual integration of texts into source files once the translation is delivered.</p>
    <p class="bold">2. Translation of contents in text format</p>
    <p>We can translate the website contents in any editable text format (such as Word or Excel). On request, we can also localize all the multimedia content of your website (images, graphics, downloadable pdfs, etc.) during the translation process.</p>
    <p class="bold">3. Translation within a CMS</p>
    <p>If your website is managed by a CMS (WordPress, Joomla!, Prestashop, etc.), we can insert the translations within the latter, via API or directly within the system if you provide us with access. Once you have inserted the translation into your staging site or into production, we can check the content in its final context to assess the need to adapt the content to the layout, on request and free of charge.</p>
</div>
