<div class="how_works_container">
    <div class="naming_section">
        <h3 class="how_works_title">{{ 'website_service.how_works_title' | translate }}</h3>
    </div>

    <div class="how_works_points">
        <p class="point_subtext">{{ 'website_service.how_works_introduce' | translate }}</p>
        <div class="point_content">
            <p class="point_text">{{ 'website_service.how_works_text1' | translate }}</p>
            <p class="point_subtext">{{ 'website_service.how_works_subtext1' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'website_service.how_works_text2' | translate }}</p>
            <p class="point_subtext">{{ 'website_service.how_works_subtext2' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'website_service.how_works_text3' | translate }}</p>
            <p class="point_subtext">{{ 'website_service.how_works_subtext3' | translate }}</p>
        </div>
    </div>
</div>