@import '../../../responsive.scss';

.banner {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    height: auto;
    margin: 96px auto 140px;

    @include desktop-down {
        margin: 96px 64px 140px;
    }

    @include tablet-landscape-down {
        margin: 69px 64px 140px;
    }

    @include tablet-portrait-down {
        margin: 48px 24px 120px;
        flex-wrap: wrap;
        height: auto;
    }

    @include mobile-only {
        margin: 48px 24px 120px;
    }
}
.banner_width{
    @include mobile-only{
        width: 100%;
    }
}

.banner_container {
    width: 100%;
    margin: 0;
    @include tablet-landscape-down {
        max-width: 310px;
    }
    @media (max-width: 804px)  {
        max-width: 300px;
    }   
    @include tablet-portrait-down {
        max-width: 420px;
    }    
    @include mobile-only {
        max-width: 100%;
    }
}

.banner_text {
    height: auto;
    margin-top: 30px;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-size: 76px;
    line-height: 78px;
    color: #161616;
    @include desktop-down{
        font-size: 62px;
        line-height: 70px;
    }
    @include tablet-landscape-down {
        font-size: 48px;
        line-height: 52px;
    }
    @media (max-width: 775px)  {
        font-size: 46px;
        line-height: 50px;
    }
    @include tablet-portrait-down{
        height: auto;
        font-size: 48px;
        line-height: 52px;
        margin-top: 48px;
    }
}

.banner_subtext {
    margin-top: 16px;
    height: auto;

    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #161616;
    @include tablet-landscape-down{
        font-size: 14px;
        line-height: 20px;
    }

    @include tablet-portrait-down{
        height: auto;
        margin-top: 10px;
    }
}


.buttons {
    margin: 24px 0 0 0;
    @include tablet-landscape-down{
        display: flex;
        flex-direction: column;
    }
    @include tablet-portrait-down{
        margin: 0;
    }
    @include mobile-only{
        width: 100%;
        align-items: center;
    }
}

.btn_instant {
    width: auto;
    height: 48px;
    padding: 0 35.5px;

    background: #4247E5;
    border-radius: 12px;

    border: none;
    color: #FFFFFF;

    font-family: 'Nexa XBold';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    @include tablet-landscape-down{
        padding: 12px 32px;
        margin: 0 0 14px 0;
    }
    @include tablet-portrait-down{
        margin: 20px 0 0 0;
        padding: 12px 26px;
        width: 320px;
    }
    @include mobile-only{
        width: 100%;
    }
}

.btn_instant:hover {
    background: #3135CD;
}

.btn_about {
    margin-left: 24px;
    min-width: 166px;
    width: auto;
    height: 48px;
    background: #ECEDFC;
    border: none;
    color: #4247E5;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-size: 16px;

    line-height: 24px;
    letter-spacing: 0em;
    @include tablet-landscape-down{
        margin: 0 0 14px 0;
    }    
    @include tablet-portrait-down{
        margin: 20px 0 0 0;
        padding: 12px 27px;
        width: 320px;
    }
    @include mobile-only{
        width: 100%;
    }
}

.btn_about:hover {
    border: 1px solid #4247E5;
}

.illustration_cont {
    display: flex;
    margin-left: 37px;
    max-width: 588px;
    width: 100%;
    height: 512px;

    @include desktop-down {
        max-width: 420px;
        height: unset;
    }
    @include tablet-landscape-down {
        max-width: 336px;  
        margin: 0 0 0 20px;

    }
    @include tablet-portrait-down {
        max-width: 100%;
        height: 284px;
        margin-top: 34px;
    }

    @include mobile-only {
        align-items: center;
        margin: 34px 0 0 0;
    }
}

.illustration {
    width: 100%;
    height: auto;
    @include mobile-only {
        max-width: 327px;
    }
}