.img {
    height: 419px;
    width: 546px;
    left: 226px;
    top: 3213px;
    border-radius: 0px;

}

.text {
    position: absolute;
    left: 56.54%;
    right: -4.42%;
    top: 26.67%;
    bottom: 61.9%;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    
    color: #161616;
}

.subtext {
    height: 88px;
    width: 452px;
    left: 588px;
    top: 176px;
    
    position: absolute;
    left: 56.54%;
    right: 0%;
    top: 41.9%;
    bottom: 37.14%;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    
    
    color: #161616;
}

.link {
    position: absolute;
    left: 56.54%;
    right: 34.81%;
    top: 66.67%;
    bottom: 27.62%;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #4247E5;
}