.main {
    position: absolute;
    width: 518px;
    height: 48px;
    left: 540.5px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-259.5px   
}

.sub {
    position: absolute;
    width: 267px;
    height: 26px;
    left: 666.5px;
    top: 236px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    text-align: center;
    
    color: #161616; 
    left:50%; 
    margin-left:-133.5px   
}


.t1 {
    position: absolute;
    height: 354px;
    width: 1152px;
    left: 224px;
    top: 318px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t2 {
    position: absolute;
    height: 82px;
    width: 1152px;
    left: 224px;
    top: 704px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t21 {
    position: absolute;
    height: 152px;
    width: 1152px;
    left: 224px;
    top: 804px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t22 {
    position: absolute;
    height: 304px;
    width: 1152px;
    left: 224px;
    top: 974px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t23 {
    position: absolute;
    height: 152px;
    width: 1152px;
    left: 224px;
    top: 1296px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t3 {
    position: absolute;
    height: 514px;
    width: 1152px;
    left: 224px;
    top: 1480px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t4 {
    position: absolute;
    height: 26px;
    width: 1152px;
    left: 224px;
    top: 2026px;   
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t41 {
    position: absolute;
    height: 160px;
    width: 1152px;
    left: 224px;
    top: 2070px;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t42 {
    position: absolute;
    height: 200px;
    width: 1152px;
    left: 224px;
    top: 2248px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t43 {
    position: absolute;
    height: 112px;
    width: 1152px;
    left: 224px;
    top: 2466px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t44 {
    position: absolute;
    height: 168px;
    width: 362px;
    left: 224px;
    top: 2596px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t5 {
    position: absolute;
    height: 130px;
    width: 1152px;
    left: 224px;
    top: 2796px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t51 {
    position: absolute;
    height: 216px;
    width: 1152px;
    left: 224px;
    top: 2944px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t52 {
    position: absolute;
    height: 208px;
    width: 1152px;
    left: 224px;
    top: 3178px; 
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t53 {
    position: absolute;
    height: 112px;
    width: 99px;
    left: 224px;
    top: 3404px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t6 {
    position: absolute;
    height: 186px;
    width: 1152px;
    left: 224px;
    top: 3548px;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    
    left:50%; 
    margin-left:-576px   
}
.t7 {
    position: absolute;
    height: 106px;
    width: 1152px;
    left: 224px;
    top: 3766px;   
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t8 {
    position: absolute;
    height: 130px;
    width: 1152px;
    left: 224px;
    top: 3904px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t9 {
    position: absolute;
    height: 362px;
    width: 1152px;
    left: 224px;
    top: 4066px;
       
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t10 {
    position: absolute;
    height: 482px;
    width: 1152px;
    left: 224px;
    top: 4460px;
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t11 {
    position: absolute;
    height: 186px;
    width: 1152px;
    left: 224px;
    top: 4974px;  
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t12 {
    position: absolute;
    height: 138px;
    width: 1152px;
    left: 224px;
    top: 5192px;   
    
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t13 {
    position: absolute;
    height: 82px;
    width: 1152px;
    left: 224px;
    top: 5362px; 

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}
.t14 {
    position: absolute;
    height: 58px;
    width: 1152px;
    left: 224px;
    top: 5476px; 
 
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px   
}


.space_top {
    margin-top: .5rem;
}

.bold {
    font-family: 'Nexa XBold';   
}

.header {
    font-family: 'Nexa XBold';   
    font-size: 18px;
}

.link {
    font-family: 'Nexa XBold';
    color: #4247E5;
}

.download {
    position: absolute;
    height: 22px;
    width: 69px;
    left: 1307px;
    top: 270px;
    background: white;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #4247E5;
    border: none;    
    left:50%; 
    margin-left:507px  
}

.download_img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1283px;
    top: 270px;

    left:50%; 
    margin-left:483px
}

ul {
    margin-left: 1.5rem;
}

ul {
    p {
        margin-left: -1.5rem;
    }
}

.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 5702px;
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 6078px;
    left:50%; 
    margin-left:-576px
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 6526px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 6676px;
    left:50%; 
    margin-left:-576px
}
