<app-header></app-header>
<div class="maintext">Google Ads campaigns translations</div>

<app-logo-app></app-logo-app>
<app-why class="why"></app-why>
<app-logo-block class="logo_block"></app-logo-block>
<div class="how_maintext">How it works</div>
<div class="how_text">
    <p class="bold">1. Choose languages and markets</p>
    <p>In which countries and which languages will you advertise your products? Identify the most appropriate market-language combination for your investment, taking into account the customer base and online sales potential.</p>
    <p class="bold">2. Prepare your Google Ads material for translation</p>
    <p>Basic mode: send us a simple Word or Excel document containing the campaign to translate or give us access to your AdWord panel by adding a new temporary user. Please do not forget to organize your file in ad groups in order to help our translators understand the campaign structure.</p>
    <p class="p">Expert mode: download AdWords Editor, the free Google application for managing AdWords campaigns, in order to generate an .aea file. With its clear and friendly interface, it takes about 5 minutes to open your AdWords account in the editor, download the campaign you want to localize, and export the backup in .aea format.</p>
    <p class="bold">3. Get a quote</p>
    <p>Get an instant quote <a  [routerLink]="['/quote']" class="link">here</a> or send us the files to translate at <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io.</a></p>
</div>
<app-discover class="discover"></app-discover>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>