<app-header></app-header>
<div class="adwords_container">
    <h1 class="title">{{ 'adwords.title' | translate }}</h1>
</div>

<app-logo-app></app-logo-app>
<app-why></app-why>
<app-logo-block></app-logo-block>

<div class="how_works_container">
    <div class="naming_section">
        <h3 class="how_works_title">{{ 'adwords.how_works_title' | translate }}</h3>
    </div>

    <div class="how_works_points">
        <div class="point_content">
            <p class="point_text">{{ 'adwords.how_works_text1' | translate }}</p>
            <p class="point_subtext">{{ 'adwords.how_works_subtext1' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'adwords.how_works_text2' | translate }}</p>
            <p class="point_subtext">{{ 'adwords.how_works_subtext21' | translate }}</p>
            <p class="point_subtext">{{ 'adwords.how_works_subtext22' | translate }}</p>
        </div>
        <div class="point_content">
            <p class="point_text">{{ 'adwords.how_works_text3' | translate }}</p>
            <p class="point_subtext">{{ 'adwords.how_works_subtext31' | translate }}
                <a class="link" [routerLink]="['/quote']">{{ 'adwords.how_works_link' | translate }}</a>
                {{ 'adwords.how_works_subtext32' | translate }}
                <a class="link" href="mailto:hello@gettranslation.io">{{ 'adwords.how_works_mail' | translate }}</a>
            </p>
        </div>
    </div>
</div>

<app-discover></app-discover>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>