@import '../../responsive.scss';

:host {display: block;}

.our_professional {

    position: absolute;
    width: 1152px;
    height: 1246px;
    left: 224px;
    top: 2071px;

    overflow: unset;
    left:50%; 
    margin-left:-576px
}

.logoblock{
    display: flex; 
}
.embrace {
    display: flex;
}
.benefits{
    display: flex;
}
.instant {
    display: flex;
}

.more {
    display: flex;
}

.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 5805px;

    left:50%; 
    margin-left:-576px
}