<app-header></app-header>
<div class="maintext">
    Frequently Asked Questions
</div>

<div class="h1">General</div>
<div class="h2">Prices</div>
<div class="h3">Payments</div>
<div class="h4">Delivery Dates and Turnaround Time</div>
<div class="h5">Other</div>

<div class="l11"></div>
<div class="l12"></div>
<div class="l13"></div>
<div class="l14"></div>
<div class="l15"></div>
<div class="l16"></div>
<div class="l17"></div>
<div class="l18"></div>

<div class="l31"></div>
<div class="l32"></div>
<div class="l33"></div>

<div class="l51"></div>
<div class="l52"></div>

<div class="l21"></div>
<div class="l22"></div>
<div class="l23"></div>
<div class="l24"></div>
<div class="l25"></div>
<div class="l26"></div>

<div class="l41"></div>
<div class="l42"></div>

<div class="t11">What is Gettranslation?</div>
<a>
    <img class="i11" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t12">What makes you different from other providers?</div>
<a>
    <img class="i12" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t13">How do I count the words in my document?</div>
<a>
    <img class="i13" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t14">Can you translate my website?</div>
<a>
    <img class="i14" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t15">Do you work with companies or private individuals?</div>
<a>
    <img class="i15" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t16">Are your translations certified?</div>
<a>
    <img class="i16" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t17">How do I order a certified translation?</div>
<a>
    <img class="i17" src="../../assets/Frame 15 (1).svg" alt="">
</a>

<div class="t31">When do I need to pay?</div>
<a>
    <img class="i31" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t32">How do I pay?</div>
<a>
    <img class="i32" src="../../assets/Frame 15 (1).svg" alt="">
</a>

<div class="t51">What is localization?</div>
<a>
    <img class="i51" src="../../assets/Frame 15 (1).svg" alt="">
</a>


<!-- second part -->
<div class="t21">How much does a translation cost?</div>
<a>
    <img class="i21" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t22">How do I get a free quote?</div>
<a>
    <img class="i22" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t23">Why do I get different prices depending on when I ask for an instant quote?</div>
<a>
    <img class="i23" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t24">Is there a minimum order size?</div>
<a>
    <img class="i24" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t25">Do your prices include VAT?</div>
<a>
    <img class="i25" src="../../assets/Frame 15 (1).svg" alt="">
</a>
<div class="t41">How many words can you translate per day?</div>
<a>
    <img class="i41" src="../../assets/Frame 15 (1).svg" alt="">
</a>

<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>