.maintext {
    position: absolute;
    width: 548px;
    height: 48px;
    left: 526px;
    top: 180px;
    
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #161616;
    left:50%; 
    margin-left:-274px
}

.h1 {
    position: absolute;
    height: 26px;
    width: 70px;
    left: 224px;
    top: 264px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left:-576px;
}
.h2 {
    position: absolute;
    height: 26px;
    width: 54px;
    left: 812px;
    top: 264px; 
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left:12px
}
.h3 {
    position: absolute;
    height: 26px;
    width: 88px;
    left: 224px;
    top: 746px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left:-576px;
}
.h4 {
    position: absolute;
    height: 26px;
    width: 320px;
    left: 812px;
    top: 746px;
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left:12px
}
.h5 {
    position: absolute;
    height: 26px;
    width: 52px;
    left: 224px;
    top: 948px;  
    
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    /* #4247E5 */
    
    color: #4247E5;
    left:50%; 
    margin-left:-576px;
}

.l11 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 306px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l12 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 362px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l13 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 418px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l14 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 474px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l15 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 530px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l16 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 586px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l17 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 642px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l18 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 698px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l31 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 788px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l32 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 844px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l33 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 900px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l51 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 990px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}
.l52 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 1046px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:-576px;
}

.l21 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 306px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l22 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 362px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l23 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 224px;
    top: 418px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l24 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 812px;
    top: 498px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l25 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 812px;
    top: 554px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l26 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 812px;
    top: 610px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l41 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 812px;
    top: 788px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}
.l42 {
    position: absolute;
    width: 564px;
    height: 0px;
    left: 812px;
    top: 844px;
    
    border-top: 1px solid #000000;
    left:50%; 
    margin-left:12px;
}

.t11 {
    position: absolute;
    height: 24px;
    width: 185px;
    left: 224px;
    top: 322px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t12 {
    position: absolute;
    height: 24px;
    width: 373px;
    left: 224px;
    top: 378px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t13 {
    position: absolute;
    height: 24px;
    width: 331px;
    left: 224px;
    top: 434px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t14 {
    position: absolute;
    height: 24px;
    width: 238px;
    left: 224px;
    top: 490px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t15 {
    position: absolute;
    height: 24px;
    width: 394px;
    left: 224px;
    top: 546px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t16 {
    position: absolute;
    height: 24px;
    width: 240px;
    left: 224px;
    top: 602px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}
.t17 {
    position: absolute;
    height: 24px;
    width: 293px;
    left: 224px;
    top: 658px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px;
}

.t31 {
    position: absolute;
    height: 24px;
    width: 184px;
    left: 224px;
    top: 804px;
    border-radius: nullpx;

    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px; 
}
.t32 {
    position: absolute;
    height: 24px;
    width: 110px;
    left: 224px;
    top: 860px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px; 
}
.t51 {
    position: absolute;
    height: 24px;
    width: 160px;
    left: 224px;
    top: 1006px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left:-576px; 
}


.t21 {
    position: absolute;
    height: 24px;
    width: 271px;
    left: 812px;
    top: 322px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 12px;  
}
.t22 {
    position: absolute;
    height: 24px;
    width: 205px;
    left: 812px;
    top: 378px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 12px;  
}
.t23 {
    position: absolute;
    height: 48px;
    width: 413px;
    left: 812px;
    top: 434px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #161616;
    
    left:50%; 
    margin-left: 12px;  
}
.t24 {
    position: absolute;
    height: 24px;
    width: 236px;
    left: 812px;
    top: 514px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 12px;  
}
.t25 {
    position: absolute;
    height: 24px;
    width: 214px;
    left: 812px;
    top: 570px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 12px;  
}
.t41 {
    position: absolute;
    height: 24px;
    width: 344px;
    left: 812px;
    top: 804px;
    border-radius: nullpx;
    
    
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #161616;
    left:50%; 
    margin-left: 12px;  
}

.i11 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 324px;
    
    left:50%; 
    margin-left:-32px
}
.i12 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 380px;
    
    left:50%; 
    margin-left:-32px
}
.i13 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 436px;
    
    left:50%; 
    margin-left:-32px
}
.i14 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 492px;
    
    left:50%; 
    margin-left:-32px
}
.i15 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 548px;
    
    left:50%; 
    margin-left:-32px
}
.i16 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 604px;
    
    left:50%; 
    margin-left:-32px
}
.i17 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 660px;
    
    left:50%; 
    margin-left:-32px
}
.i31 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 806px;
    
    left:50%; 
    margin-left:-32px
}
.i32 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 862px;
    
    left:50%; 
    margin-left:-32px
}
.i51 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 768px;
    top: 1008px;
    
    left:50%; 
    margin-left:-32px
}

.i21 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 324px; 
    left:50%; 
    margin-left:556px
}
.i22 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 380px;
    left:50%; 
    margin-left:556px
}
.i23 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 436px;
    left:50%; 
    margin-left:556px
}
.i24 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 516px;
    left:50%; 
    margin-left:556px
}
.i25 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 572px;
    left:50%; 
    margin-left:556px
}
.i41 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1356px;
    top: 806px;  
    left:50%; 
    margin-left:556px
}
.more {
    position: absolute;
    width: 1035px;
    height: 208px;
    left: 224px;
    top: 1214px;
    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    width: 1152px;
    height: 280px;
    left: 224px;
    top: 1590px;
    left:50%; 
    margin-left:-576px
}


.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 2038px;
    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 2188px;
    left:50%; 
    margin-left:-576px
}
