<app-header></app-header>
<div class="contact_container">
    <h1 class="text">{{ 'contact.title' | translate }}</h1>
    <p class="subtext">{{ 'contact.description' | translate }} <span class="bold">{{ date1s }} {{ timezone }}.</span></p>
    <a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a>
</div>

<div class="contact_form_container">
    <div class="contact_form">
        <div class="from_block">
            <p class="form_label">{{ 'contact.form_email' | translate }}<span class="red">*</span></p>
            <input class="form_input" [(ngModel)]="email" placeholder="example@domain.com" type="text">
        </div>

        <div class="from_block">
            <p class="form_label">{{ 'contact.form_name' | translate }}</p>
            <input class="form_input" [(ngModel)]="name" placeholder="John Doe" type="text">
        </div>
        <div class="from_block">
            <p class="form_label">{{ 'contact.form_message' | translate }}</p>
            <textarea class="form_input textarea_height" [(ngModel)]="message" style="resize: none;"
                placeholder="{{ 'contact.form_message_write' | translate }}"></textarea>
        </div>

        <div class="form_upload" *ngIf="!file">
            <div class="form_upload_file">
                <img class="upload_img" src="../../assets/upload_cloud.svg" alt="" />
                <p class="upload_text">{{ 'contact.form_upload' | translate }}</p>
            </div>
            <input class="upload_input" type="file" (change)="changeListener($event)">
        </div>

        <div *ngIf="file" class="file_name">{{ file.name }}</div>

        <div class="form_agree_policy">
            <div class="form_agree"></div>
            <input [(ngModel)]="agree" class="checkbox" type="checkbox">
            <div class="form_link">{{ 'contact.form_agree' | translate }}
                <a class="right_link" href="https://gettranslation.io/privacy" target="blank">{{ 'contact.form_privacy' | translate }}</a>
            </div>
        </div>

        <button class="btn_send" (click)="send()">{{ 'contact.form_button' | translate }}</button>
    </div>
    <div class="offices_container">
        <div class="info_label">
            <img class="img_label" src="../../assets/contact/pin.svg" alt="">
            <p class="container_title">{{ 'contact.offices_title' | translate }}</p>
        </div>
<div class="offices_block">
        <div class="offices_info">
            <div class="info_label_city">
                <div class="office_label">
                    <img class="img_locaion" src="../../assets/contact/pin.svg" alt="">
                    <p class="office_city">{{ 'contact.office_city1' | translate }}</p>
                </div>
                <p class="office_type">{{ 'contact.office_type1' | translate }}</p>
                <p class="office_address">{{ 'contact.office_address1' | translate }} </p>
                <a class="office_link" href="https://goo.gl/maps/d52Lh9CBbq5qfXnu8" target="_blank">{{ 'contact.office_map' | translate }}</a>
            </div>

            <div class="info_label_city">
                <div class="office_label">
                    <img class="img_locaion" src="../../assets/contact/pin.svg" alt="">
                    <p class="office_city">{{ 'contact.office_city2' | translate }}</p>
                </div>
                <p class="office_type">{{ 'contact.office_type2' | translate }}</p>
                <p class="office_address">{{ 'contact.office_address2' | translate }}</p>
                <a class="office_link" href="https://goo.gl/maps/x8YavKZn9NSXXTW39" target="_blank">{{ 'contact.office_map' | translate }}</a>
            </div>
        </div>

        <div class="office_contact">
            <div class="office_contact_label">
                <img class="img_label" src="../../assets/contact/phone.svg" alt="">
                <p class="contact_title">{{ 'contact.office_contact_label' | translate }}</p>
            </div>
            <div class="point_type"><p class="office_offline space_offline">{{ 'contact.office_offline' | translate }}</p> </div>
            <p class="office_offline">{{ 'contact.office_contact_notify' | translate }}</p>
            <a class="office_link bold" href="callto:+44 20 4577 3740" >+44 20 4577 3740</a>
        </div>
</div>
    </div>
</div>

<app-logo-block></app-logo-block>
<app-our-clients></app-our-clients>
<app-more></app-more>
<app-instant></app-instant>
<app-footer></app-footer>