<app-header></app-header>
<div class="text">Contact our team</div>
<div class="subtext">Guaranteed answer by <span class="bold">{{ date1s }} {{ timezone }}.</span></div>
<a class="link" href="mailto:hello@gettranslation.io">hello@gettranslation.io</a>


<div class="contact_form"></div>
<div class="label1">E-mail address<span class="red">*</span></div>
<input placeholder="example@domain.com" class="input1" type="text">

<div class="label2">Your name</div>
<input placeholder="John Doe" class="input2" type="text">

<div class="label3">Message</div>
<textarea style="resize: none;"  class="input3" placeholder="Write your message..."></textarea>


<button class="upload">
    <img class="btn_text" src="../../assets/order/upload file.svg" alt="">
</button>

<!-- <input class="input4" type="file"> -->

<input class="checkbox" type="checkbox">
<div class="right">I have read and agree to the <a class="right_link" href="https://gettranslation.io/privacy" target="blank">Privacy Policy</a></div>

<button class="btn_send">Send</button>


<img class="img" src="../../assets/contact/pin.svg" alt="">
<div class="office">Our offices</div>

<img class="img1" src="../../assets/contact/pin.svg" alt="">
<div class="office1">Estonia</div>
<div class="type1">Headquarters</div>
<div class="address1">Vesivärava tn 50/201 10152 Tallinn</div>
<a class="link1"  href="https://goo.gl/maps/d52Lh9CBbq5qfXnu8" target="_blank">View map</a>

<img class="img2" src="../../assets/contact/pin.svg" alt="">
<div class="office2">United Kingdom</div>
<div class="type2">Local Office</div>
<div class="address2">18 Leasowes Road E10 7BE London</div>
<a class="link2"  href="https://goo.gl/maps/x8YavKZn9NSXXTW39" target="_blank">View map</a>

<div class="line"></div>

<img class="img3" src="../../assets/contact/phone.svg" alt="">
<div class="office3">Give us a call</div>
<div class="type3">We’re not online now</div>
<div class="point3"></div>
<div class="address3">Please send us an e-mail or leave a voice message.</div>
<a href="callto:+44 20 4577 3740" class="link3">+44 20 4577 3740</a>

<app-logo-block class="logo_block"></app-logo-block>
<app-our-clients class="our_clients"></app-our-clients>
<app-more class="more"></app-more>
<app-instant class="instant"></app-instant>
<app-footer class="footer"></app-footer>
<div class="space"></div>