@import '../../responsive.scss';

.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 0px 56px;

    @include desktop-down {
        margin: 96px 64px 56px;
    }

    @include tablet-landscape-down {
        margin: 96px 48px 40px;
    }

    @include tablet-portrait-down {
        margin: 56px 32px 40px;
    }

    @include mobile-only {
        margin: 48px 24px 32px;
    }

}

.text {
    margin: 0 0 8px 0;

    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    @include tablet-landscape-down {
        font-size: 36px;
        line-height: 44px;
        margin: 0 0 10px 0;
    }
}

.subtext {
    margin: 0 0 8px 0;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @include tablet-landscape-down {
        font-size: 16px;
        line-height: 22px;
        max-width: 234px;
    }
}

.link {
    margin: 0;
    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #4247E5;

    @include tablet-landscape-down {
        font-size: 16px;
        line-height: 24px;
    }
}

//Contact form
.contact_form_container {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    justify-content: space-between;

    @include desktop-down {
        margin: 0 56px 140px;
    }

    @include tablet-landscape-down {
        margin: 0 48px 140px;
        align-items: center;
        flex-direction: column;
    }

    @include tablet-portrait-down {
        margin: 0 24px 140px;
    }
}

.contact_form {
    display: flex;
    flex-direction: column;
    height: 638px;
    max-width: 564px;
    width: 100%;
    padding: 36px 32px 40px 32px;
    margin: 0 48px 0 0;

    border-radius: 12px;
    background: #ECEDFC;

    @include tablet-landscape-down {
        margin: 0 0 104px 0;
        max-width: 640px;
    }
}

.from_block {
    margin: 0 0 24px 0;
}

.form_label {
    margin: 0 0 8px 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
}

.red {
    color: #E33C5C;
}

.form_input {
    width: 100%;
    height: 54px;

    background: #FFFFFF;
    border-radius: 6px;
    border: none;

    padding-left: 24px;

    font-family: 'Nexa Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.textarea_height {
    padding-top: 15px;
    height: 104px;
}

input::placeholder {
    opacity: .2;
}

textarea::placeholder {
    opacity: .2;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.form_upload {
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: 64px;
    border: 2px dashed rgba(66, 71, 229, 0.15);
    border-radius: 6px;
    background-color: #ECEDFC;
}

.upload_input {
    position: absolute;
    width: 100%;
    height: 64px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

.form_upload_file {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.upload_img {
    opacity: 0.2;
    width: 24px;
    height: 17px;
    margin: 0 8px 3px 0;

    @include tablet-portrait-down {
        width: 18px;
        height: 13px;
    }
}

.upload_text {
    margin: 0;
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #4247E5;
    opacity: 0.2;
}

.file_name {
    width: 100%;
    height: 64px;

    border: 2px dashed rgba(66, 71, 229, 0.15);
    border-radius: 6px;
    background-color: #ECEDFC;

    padding-top: 22px;
    padding-left: 22px;
}

.form_agree_policy {
    display: flex;
    margin: 24px 0 26px 0;
    position: relative;
}

.form_agree {
    margin: 0;
    height: 20px;
    width: 20px;

    background: #FFFFFF;
    border: 1px solid rgba(66, 71, 229, 0.15);
    border-radius: 6px;
    accent-color: #4247E5;
}

.checkbox {
    opacity: 0;
    position: absolute;
    height: 20px;
    width: 20px;

    background: #FFFFFF;
    border: 1px solid rgba(66, 71, 229, 0.15);
    border-radius: 6px;
    accent-color: #4247E5;
    z-index: 99;
}

.form_link {
    margin: 0 0 0 12px;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.right_link {
    font-family: 'Nexa XBold';
    font-size: 14px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: #4247E5;
}

.btn_send {
    border: none;
    height: 48px;
    width: 172px;

    background: #4247E5;
    border-radius: 12px;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.checkbox input[type=checkbox]:checked+label {
    color: blue;
}

input[type=checkbox]:checked+label {
    background-color: #aaa;
}

input[type=checkbox]:checked+label:after {
    background-color: blue;
}

//Info offices
.offices_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.offices_block {
    display: flex;
    flex-direction: column;
    margin: 0;

    @include tablet-landscape-down {
        flex-direction: row;
    }
    @include tablet-portrait-down{
        flex-direction: column;
    }
}

.info_label {
    display: flex;
    margin: 0 0 26px 0;
    @include tablet-landscape-down{
        margin: 0 0 32px 0;
    }
}
.office_contact_label{
    display: flex;
    margin: 0 0 26px 0;
    @include tablet-landscape-down{
        margin: 0 0 10px 0;
    }
}

.office_label {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.offices_info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 48px 0;
    width: 90%;
    border-bottom: 0.5px solid rgba(66, 71, 229, 0.15);

    @include desktop-down {
        width: 100%;
    }

    @include tablet-landscape-down {
        justify-content: flex-start;
        border-bottom: none;
        width: 70%;
        margin: 0;
    }
    @include tablet-portrait-down{
        width: 100%;
        border-bottom: 0.5px solid rgba(66, 71, 229, 0.15);
        margin: 0 0 32px 0;
    }
}

.info_label_city {
    display: flex;
    flex-direction: column;
    margin: 0 36px 48px 0;

    @include tablet-landscape-down {
        margin: 0 36px 0 0;
    }
    @include tablet-portrait-down{
        margin: 0 36px 32px 0;
    }
}

.info_label_city:last-child{
    @include tablet-portrait-down{
        margin: 0 0 32px 0;
    }
}

.office_contact {
    display: flex;
    flex-direction: column;
    margin: 0 36px 48px 0;

    @include tablet-landscape-down {
        margin: 0;
    }
}

.img_label {
    height: 18px;
    margin: 5px 12px 0 0;
}

.img_locaion {
    height: 14px;
    margin: 0 12px 6px 0;
}

.container_title {
    margin: 0;
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    text-align: center;
}

.contact_title {
    margin: 0;
    font-family: 'Nexa Heavy';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    @include tablet-landscape-down {
        font-size: 18px;
        line-height: 26px;
    }
}

.office_city {
    margin: 0;

    font-family: 'Nexa XBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
}

.office_type {
    margin: 0;
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.office_offline {
    margin: 0;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.space_offline {
    margin: 0 0 0 12px;
}

.point_type {
    position: relative;
    margin: 0 0 12px 0;
    @include tablet-landscape-down{
        margin: 0 0 10px 0;
    }
}

.point_type:before {
    content: '';
    position: absolute;
    display: flex;
    margin: 0;
    height: 4px;
    width: 4px;
    top: 7px;
    border-radius: 50%;
    background: #E33C5C;
}

.office_address {
    margin: 0;
    max-width: 146px;

    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.office_link {
    margin: 10px 0 0 0;
    font-family: 'Nexa Book';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #4247E5;
}

.bold {
    font-family: 'Nexa XBold';
}